{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <div class="imgheader">
                <a><img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 80px; width:  200px;"></a>
            </div>
        </div>

        <!-- PAGE CONTENT -->
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <img src="../../static/login/images/amsterdam_umc.png" style="margin-top: 32px; height: auto; width: 60%;">
                <div class="form-box">
                    <h6 style="margin-top: 8px; font-weight: bold;">Select Your Role for this Session</h6>
                    {% for key, value in roles.items %}
                        <a class="btn btn-lg px-3 btn-outline-dark align-middle flg-btn" style="width: 90%; margin-top: 18px; background-color: #003741;" href="{{ value }}" role="button">
                            <ul class="list-inline flg-list">
                            <li class="list-inline-item abv-txt mr-auto">
                                <h5 class="mr-auto" style="color: white;">{{ key }}</h5>
                            </li>                    
                            <li class="list-inline-item">
                                <img src="../../static/main/images/patient.svg" class="" height="40px" width="40px" alt="Patient">
                            </li>
                            </ul>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>    
    </body>
</html>