{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components no-">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 500;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}
                    </p>
                    <li>
                        <a href="/patient/home/">Home</a>
                    </li>
                    <li >
                         <a href="/patient/home/Profile">Profile</a>
                    </li>
                    <li >
                        <a href="/patient/home/Recent-Activities">Recent Activities</a>
                    </li>
                    <li>
                         <a href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li>
                        <a href="/patient/home/Family-Medical-History">Family Medical History</a>
                    </li>
                    <li class="active">
                        <a style="font-size: 16px; font-weight: 500;" href="">Emergencies</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/My-Data">My Data</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}

            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd;">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>
                    </div>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/patient/home/">Home</a> -->
                    <a class="path_active" href="">Emergencies</a>
                </p>
                
                <h5 style="text-align: center; font-weight: bold; padding: 4px; margin-top: 16px;">Emergencies</h6>
                {% if encounters %}
                
                <div id="emergencyepisodes" class="list-group card mr-auto ml-auto" style="margin: 4px; margin-top: 16px; height: auto; max-height: 80%; display: block; overflow: auto; width: 80%; box-shadow: 2px 2px 15px rgba(33,33,33,.2);    ">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-3" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Date</h6>
                            </div>
                            <div class="col-3" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Starter</h6>
                            </div>
                            <div class="col-3" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Finisher</h6>
                            </div>
                            <div class="col-3" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Action</h6>
                            </div>
                        </div>
                    </a>
                        {% for enc in encounters %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-3 mb-auto mt-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-size: 14px; padding: 0px; font-weight: bold;">{{ enc.start_datetime|default_if_none:'-'|date:'d/m/Y'  }}</h6>
                                </div>
                                <div class="col-3 mb-auto mt-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-size: 14px; padding: 0px; font-weight: bold;">{{ enc.org_starter.name|default_if_none:"-"  }}</h6>
                                </div>
                                <div class="col-3 mb-auto mt-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-size: 14px; padding: 0px; font-weight: bold;">{{ enc.org_finisher.name|default_if_none:"-"  }}</h6>
                                </div>
                                <div class="col-3 mb-auto mt-auto" style="padding: 0px">
                                    <div id="{{ enc.pk }}" onclick="location.href='{{ enc.pk }}/'" class="options" style="padding:2px; background-color: #4679bd; border-radius: 32px;">
                                        <h6 style="text-align: center; font-size: 12px; margin: 0px; padding: 2px; font-weight: bold; color: white;">View emergency</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                </div>
                {% else %}
                <h4 style="text-align: center; margin-top: 32px">You don’t have any emergency episode</h4>
                {% endif %}

            </div>

             <!-- The Modal -->
             <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
</html>