{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">

        <script src="/static/util/js/code_parsing.js"></script>
        <script src="http://{{internal_ip}}/auth/js/keycloak.js"/>

        <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">            
            var key_id = "{{keyid}}";
            var encounter = "{{encounter.pk|safe}}"
            key_id = key_id.replace(/&quot;/g, '"');
            key_id = key_id.replace(/"/g, '');
            var internal_ip = "{{internal_ip}}"
        </script>

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>        
    </head>
    <body onload="initKeycloak()">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components no-">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 500;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}
                    </p>
                    <li>
                        <a href="/patient/home/">Home</a>
                    </li>
                    <li >
                         <a href="/patient/home/Profile">Profile</a>
                    </li>
                    <li >
                        <a href="">Recent Activities</a>
                    </li>
                    <li>
                         <a href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li>
                        <a href="/patient/home/Family-Medical-History">Family Medical History</a>
                    </li>
                    <li class="active">
                        <a style="font-size: 16px; font-weight: 500;" href="">Emergencies</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/My-Data">My Data</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}

            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd;">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>
                    </div>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/patient/home/">Home</a> -->
                    <a class="path" href="/patient/home/Episodes-Of-Care/">Emergencies</a> -->
                    <a class="path_active" href="">Emergency</a>
                </p>
                
                <div id="loader" style="margin-top: 32px;">
                    <div class="water"></div>
                    <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                </div>

                <div id="encountersTable" class="list-group card mr-auto ml-auto" style="margin: 4px; height: auto; max-height: 80%; overflow: auto; margin-top: 8px; width: 80%; min-width: 600px; box-shadow: 2px 2px 15px rgba(33,33,33,.2); display: none">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-4" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Organization</h6>
                            </div>
                            <div class="col-2" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Joined Care</h6>
                            </div>
                            <div class="col-2" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Started Care</h6>
                            </div>
                            <div class="col-2" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Finished Care</h6>
                            </div>
                            <div class="col-2" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                            </div>
                        </div>
                    </a>
                    <div id="episodes_of_care_objects"></div>                   
                </div>

                <div id="episodes" class="card mr-auto ml-auto" style="margin: 4px; height: 80%; max-height: 80%; overflow: auto; margin-top: 8px; width: 80%; min-width: 600px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                    
                </div>

                <!--
                <div id="episodes" class="card mr-auto ml-auto" style="margin: 4px; height: 80%; max-height: 80%; overflow: auto; margin-top: 8px; width: 80%; min-width: 600px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                    {% for ep in eps %}
                            {% if ep.episode_of_care_tag == "Call Centre" %}
                            <div id="{{ ep.pk }}" style="padding: 16px;">
                                <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Organization</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Address</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row" style="">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Phone</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 8px;">
                                    <div class="col-sm-5">
                                        <p id="name">Last time seen well</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.last_time_seen_well|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Time of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.time_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Localion of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Patient location</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_patient|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Who called</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.get_who_called_display|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                                
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Remarks</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.call_centre_remarks   |default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                            </div>

                            {% else %}
                                {% if ep.episode_of_care_tag == "Hospital" %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px;">
                                    <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name|default_if_none:"-" }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Time of arrival</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.time_of_arrival|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Heart rate</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.heart_rate|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Blood pressure Systolic | Diastolic</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.blood_pressure_systolic|default_if_none:"-" }} | {{ ep.blood_pressure_diastolic|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Oxygen Saturation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.oxygen_saturation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Breathing Frequency</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.breathing_frequency|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Glucose</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.glucose|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Coagulant medicine used</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.usage_of_coagulant_medicine|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">International normalized ratio</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.international_normalized_ratio|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">EMV Score eyes | motor | verbal</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.emv_score_eyes|default_if_none:"-" }} | {{ ep.emv_score_motor|default_if_none:"-" }} | {{ ep.emv_score_verbal|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">ABCDE Stability Airways | Breathing | Circulation | Disability | Exposure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ABCDE_stability_airways|default_if_none:"-" }} | {{ ep.ABCDE_stability_breathing|default_if_none:"-" }} | {{ ep.ABCDE_stability_circulation|default_if_none:"-" }} |
                                                {{ ep.ABCDE_stability_disability|default_if_none:"-" }} | {{ ep.ABCDE_stability_exposure|default_if_none:"-" }}
                                            </strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Physical evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.physical_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
    

                                    <div class="row" style="font-size: 14px; margin-top: 16px;">
                                        <div class="col-sm-5">
                                            <p id="name">Neurological evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.neurological_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Radiological imaging</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="row">
                                                <div data-target="#radImage" data-toggle="modal" class="card options" style="padding: 4px; width: 40%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                                        <i class="fas fa-hand-holding-heart"></i>
                                                        View image
                                                    </h6>
                                                </div>
                                                <div onclick="alert('Under Construction')" class="card options" style="padding: 4px; width: 40%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                        Download
                                                    </h6>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image thrombus location</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_thrombus_location|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image aspects</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_aspects|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image collateral score</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_collateral_score|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Infart core size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.infart_core_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Penumbra size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.penumbra_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Procedure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.procedure|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                </div>

                                {% else %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px">
                                        <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Time of arrival</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.time_of_arrival|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Heart rate</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.heart_rate|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Blood pressure Systolic | Diastolic</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.blood_pressure_systolic|default_if_none:"-" }} | {{ ep.blood_pressure_diastolic|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Oxygen Saturation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.oxygen_saturation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Breathing Frequency</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.breathing_frequency|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Glucose</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.glucose|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Coagulant medicine used</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.usage_of_coagulant_medicine|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">International normalized ratio</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.international_normalized_ratio|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">EMV Score eyes | motor | verbal</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.emv_score_eyes|default_if_none:"-" }} | {{ ep.emv_score_motor|default_if_none:"-" }} | {{ ep.emv_score_verbal|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">ABCDE Stability Airways | Breathing | Circulation | Disability | Exposure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ABCDE_stability_airways|default_if_none:"-" }} | {{ ep.ABCDE_stability_breathing|default_if_none:"-" }} | {{ ep.ABCDE_stability_circulation|default_if_none:"-" }} |
                                                {{ ep.ABCDE_stability_disability|default_if_none:"-" }} | {{ ep.ABCDE_stability_exposure|default_if_none:"-" }}
                                            </strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Ambulance remarks</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ambulance_remarks|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Physical evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.physical_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Applied medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.applied_medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                </div>

                <div class="row" style="padding: 8px; height: 100vh; display: none;" >
                    <div class="col-sm-4" id="sections">
                        {% for ep in eps %}
                            {% if ep.ind == 0 %}
                            <div id="section_{{ep.pk}}" onclick="changing_episode({{ep.pk}})" class="card ep_card" style="height: 156px; padding: 8px; background-color:#CED9E5;">
                            {% else %}
                            <div id="section_{{ep.pk}}" onclick="changing_episode({{ep.pk}})" class="card ep_card" style="height: 156px; padding: 8px;">
                            {% endif %}
                            <p style="font-size: 12px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>

                            {% if ep.episode_of_care_tag != "Call Centre" %}
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="font-size: 12px;">Joinned Session</p>
                                </div>
                                <div class="col-sm-7">
                                    <p style="font-size: 12px; font-weight: bold;">{{ ep.episode_of_care_start_datetime }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="font-size: 12px;">Started Care</p>
                                </div>
                                <div class="col-sm-7">
                                    <p style="font-size: 12px; font-weight: bold;"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="font-size: 12px;">Finished Care</p>
                                </div>
                                <div class="col-sm-7">
                                    <p style="font-size: 12px; font-weight: bold;">{{ ep.episode_of_care_end_datetime }}</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="font-size: 12px;">Started Care</p>
                                </div>
                                <div class="col-sm-7">
                                    <p style="font-size: 12px; font-weight: bold;">{{ ep.episode_of_care_start_datetime }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <p style="font-size: 12px;">Finished Care</p>
                                </div>
                                <div class="col-sm-7">
                                    <p style="font-size: 12px; font-weight: bold;">{{ ep.episode_of_care_end_datetime }}</p>
                                </div>
                            </div>

                            {% endif %}

                        </div>
                        {% endfor %}
                    </div>

                    <div id="episodess" class="col-sm-8 card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); ">
                        {% for ep in eps %}
                            {% if ep.episode_of_care_tag == "Call Centre" %}
                            <div id="{{ ep.pk }}" style="padding: 16px;">
                                <div style="-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
                                -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14); border-radius: 16px; padding: 8px">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Organization</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Address</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row" style="">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Phone</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 8px;">
                                    <div class="col-sm-5">
                                        <p id="name">Last time seen well</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.last_time_seen_well|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Time of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.time_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Localion of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Patient location</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_patient|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Who called</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.get_who_called_display|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                                
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Remarks</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.call_centre_remarks   |default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                            </div>

                            {% else %}
                                {% if ep.episode_of_care_tag == "Hospital" %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px;">
                                    <div style="-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
                                    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name|default_if_none:"-" }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
                                    </div>
    

                                    <div class="row" style="font-size: 14px; margin-top: 16px;">
                                        <div class="col-sm-5">
                                            <p id="name">Neurological evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.neurological_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Radiological imaging</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.radiological_imaging|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image thrombus location</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_thrombus_location|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image aspects</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_aspects|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image collateral score</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_collateral_score|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Infart core size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.infart_core_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Penumbra size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.penumbra_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Procedure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.procedure|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                </div>

                                {% else %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px">
                                        <div style="-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
                                    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Time of arrival</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.time_of_arrival|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Heart rate</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.heart_rate|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Blood pressure Systolic | Diastolic</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.blood_pressure_systolic|default_if_none:"-" }} | {{ ep.blood_pressure_diastolic|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Oxygen Saturation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.oxygen_saturation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Breathing Frequency</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.breathing_frequency|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Glucose</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.glucose|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Coagulant medicine used</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.usage_of_coagulant_medicine|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">International normalized ratio</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.international_normalized_ratio|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">EMV Score eyes | motor | verbal</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.emv_score_eyes|default_if_none:"-" }} | {{ ep.emv_score_motor|default_if_none:"-" }} | {{ ep.emv_score_verbal|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">ABCDE Stability Airways | Breathing | Circulation | Disability | Exposure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ABCDE_stability_airways|default_if_none:"-" }} | {{ ep.ABCDE_stability_breathing|default_if_none:"-" }} | {{ ep.ABCDE_stability_circulation|default_if_none:"-" }} |
                                                {{ ep.ABCDE_stability_disability|default_if_none:"-" }} | {{ ep.ABCDE_stability_exposure|default_if_none:"-" }}
                                            </strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Ambulance remarks</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ambulance_remarks|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Physical evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.physical_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Applied medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.applied_medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>-->
            </div>

            <!-- Dicom Modal
            <div id="radImage" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content" style="background-color: black;">
                        <div class="modal-header" style="background-color: black;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body contact100-form" style="background-color: black; margin: auto;">
                            <div class="row" style="background-color: black;">
                                <div class="col-sm-6">
                                    <div onclick="changing_image(2)" id="1" class="card options" style="padding: 8px; width: 45%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                        <h6 style="text-align: center; margin-bottom: 4px; font-size: 16px; font-weight: bold; color: white;">
                                            <i class="fas fa-hand-holding-heart"></i>
                                            Image
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div onclick="changing_image(1)" id="2" class="card options" style="padding: 8px; width: 45%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                        <h6 style="text-align: center; margin-bottom: 4px; font-size: 16px; font-weight: bold; color: white;">
                                            <i class="fas fa-file-medical-alt"></i>
                                            Meta data
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div id="sect" style="background-color: black; height: 800px; width: 700px; margin: auto;">
                                <div id="1_var" style="display:none; padding: 16px; height: 80%; width: 100%; overflow: auto;">
                                    <div class="list-group " style="margin: 4px; height: 100%; overflow: auto;">
                                        <a href="" class="list-group-item flex-column align-items-start" style="background-color: black;">
                                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                                <div class="col-sm-6" style="padding: 0px">
                                                    <h6 style="color: goldenrod; font-weight: bold; font-size: 12px; padding: 0px;">Attribute</h6>
                                                </div>
                                                <div class="col-sm-6" style="padding: 0px">
                                                    <h6 style="color: goldenrod; font-weight: bold; font-size: 12px; padding: 0px;">Value</h6>
                                                </div>
                                            </div>
                                        </a>

                                        {% for mykey, myvalue in dicom_dict.items %}

                                        <a class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: black;">
                                            <div class="row" style="text-align: center; padding: 0px; margin: 0px; background-color: black;">
                                                <div class="col-sm-6" style="padding: 0px">
                                                    <h6 class="mb-1" style="color: white; font-weight: bold; padding:0px; font-size: 12px;">{{ mykey }}</h6>
                                                </div>
                                                <div class="col-sm-6" style="padding: 0px">
                                                    <h6 class="mb-1" style="color: white; font-weight: bold; padding:0px; font-size: 12px;">{{ myvalue }}</h6>
                                                </div>
                                            </div>
                                        </a>

                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="2_var" class='flex column plot mt15 mlr15 justify-left align-left' style="background-color: black; border-radius: 8px; margin: auto;">
                                    <img style="width: 650px; height: 600px; border-radius: 8px; padding: 16px; margin: auto;" src='{{ imuri }}'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

             <!-- The Modal -->
             <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>    
    <script src="{% static 'main/js/emergency_sessions.js' %}"></script>    
    <script src="{% static 'main/js/main.js' %}"></script>   
</html>