{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">

    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    {% if request.user.patient_profile.patient_photo.url != None %}
                    <img src="{% static 'request.user.patient_profile.patient_photo.url' %}">
                    {% else %}
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                    {% endif %}
                </div>
        
                <ul class="list-unstyled components">
                    <!--<p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome,</p>-->
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}</p>
                    <li class="active">
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/">Home</a>
                    </li>
                    <li >
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Profile">Profile</a>
                    </li>
                    <li >
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Recent-Activities">Recent Activities</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Family-Medical-History">Family Medical History</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Episodes-Of-Care">Emergencies</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/My-Data">My Data</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}

            <!-- Page Content -->
            <div id="content" style="overflow: auto; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd;">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>

                    </div>
                </nav>

                <div id="cardFMH" class="row" style="margin: 2px; height: 88vh; overflow: auto;">
                    <div class="col-sm-4">
                        <div id="home_card" onclick="location.href='Profile/'" class="card" style="padding: 2px; margin: auto; height: 90%; border-radius: 16px; box-shadow: 0 0 8px #CED9E5">                            
                            <i class="fa fa-id-card" style="margin: auto; width: 35%; height: 35%; padding: 16px;" aria-hidden="true"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">Update your profile</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">Check or change personal account details</p>
                              <!--
                              <i class="fas fa-exclamation-circle mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px;">You haven't filled your profile yet</footer>
                              -->
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-4" style="background: transparent;">
                        <div id="home_card" class="card" onclick="location.href='Recent-Activities'" style="padding: 2px; margin: auto; height: 90%; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                            
                            <i id="home_card" class="fa fa-newspaper" style="margin: auto; width: 35%; height: 35%; padding: 16px;"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">Recent activities</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">Overview what has been changed or added on your account</p>
                              <!--
                              <i class="fas fa-exclamation mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px;">There is recent activities on your account</footer>
                              -->
                            </div>
                          </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div id="home_card" onclick="location.href='Family-Medical-History/'" class="card" style="padding: 2px; margin: auto; height: 90%;  border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                            
                            <i class="fas fa-users" style="margin: auto; width: 35%; height: 35%; padding: 16px;"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">Fill your family history</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">Overview what happened</p>
                              <!--
                              <i class="fa fa-check-circle mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px;">Everything is up to date</footer>
                              -->
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-4">
                        <div id="home_card" class="card" onclick="location.href='Conditions/'" style="padding: 2px; margin: auto; height: 90%;  border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                            
                            <i class="fas fa-pills" style="margin: auto; height: 35%; width: 35%;padding: 16px;"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">Keep your conditions up to date</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">Manage your conditions</p>
                              <!--
                              <i class="fa fa-check-circle mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px;">Everything is up to date </footer>
                              -->
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-4">
                        <div onclick="location.href='My-Data/'" id="home_card" class="card" style="padding: 2px; margin: auto; height: 90%;  border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                            
                            <i class="fas fa-database" style="margin: auto; width: 35%; height: 35%; padding: 16px;"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">My data</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">know how your data has been used</p>
                              <!--
                              <i class="fa fa-check-circle mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px;">You have already defined your policies</footer>
                              -->
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-4">
                        <div href="Episodes-Of-Care" id="home_card" onclick="location.href='Episodes-Of-Care'" class="card" style="padding: 2px; margin: auto; height: 90%;  border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                            
                            <i class="fas fa-heartbeat" style="margin: auto; height: 35%; width: 35%; padding: 16px;"></i>
                            <div class="card-body d-flex flex-column" style="width: 100%; height: 100%; overflow: auto;">
                              <h6 class="card-title" style="text-align: center; font-size: 18px; font-weight: bold;">Check emergency episodes</h6>
                              <p class="card-text" style="text-align: center; font-size: 14px;">Check your emergency episodes and overview what happened</p>
                              <!--
                              <i class="fa fa-check-circle mt-auto mr-auto ml-auto" style="color: #D14200; height: 15%; width: 15%;"></i>
                              <footer class="blockquote mt-auto" style="text-align: center; font-size: 16px; ">You don't have any Episode Of Care</footer>
                              -->
                            </div>
                          </div>
                    </div>
                </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
</html>