{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">            
              google.charts.load('current', {
                'packages':['geochart'],
              });
              google.charts.setOnLoadCallback(drawRegionsMap);

              function drawRegionsMap() {
                var data = google.visualization.arrayToDataTable([
                  ['Provinces', 'Description', "Permitted accesses", "Denied accesses"],
                  ['NL-NH', "Noord Holland", 18 , 3],
                  ['NL-ZL', "Zeeland", 30,  1],
                  ['NL-GR', "Groningen", 2 , 0],                  
                  ['NL-DR', "Drenthe", 3, 0],
                  ['NL-UT', "Utrecht", 16, 0],
                  ['NL-FR', "Friesland", 3, 0],
                  ['NL-FL', "Flevoland", 3, 0],
                  ['NL-GE', "Gelderland", 6, 0],
                  ['NL-ZH', "Zuid-Holland", 3, 0],   
                  ['NL-ZE', "Zeeland", 2, 0],
                  ['NL-LI', "Limburg", 2, 0],
                  ['NL-OV', "Overijssel", 1, 0],
                  ['NL-NB', "Noord-Brabant", 0, 0],
                ]);

                var options = {
                    // sizeAxis: { minValue: 0, maxValue: 100 },
                    // datalessRegionColor : '#123456'
                    region: 'NL', // Western Europe 
                    resolution: "provinces",
                    backgroundColor: "#F1F5F6",
                    enableRegionInteractivity: true,
                    // keepAspectRatio: true,
                    // displayMode: 'markers',                  
                  };                
                

                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                chart.draw(data, options);                
              }    
            
        </script>

        <script type="text/javascript">
          google.charts.load("current", {packages:["calendar"]});
          google.charts.setOnLoadCallback(drawChart);

       function drawChart() {
           var dataTable = new google.visualization.DataTable();
           dataTable.addColumn({ type: 'date', id: 'Date' });
           dataTable.addColumn({ type: 'number', id: 'Access' });
           dataTable.addRows([
              [ new Date(2021, 9, 1), 26 ],
              [ new Date(2021, 9, 2), 13 ],
              [ new Date(2021, 9, 3), 2 ],
              [ new Date(2021, 9, 18), 3 ],
              [ new Date(2021, 9, 19), 2 ],
             
            ]);

           var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

           var options = {
             // title: "Access by day of the week",
             // height: 200,
             
             calendar: {
                cellSize: 20,
                monthLabel: {
                    fontName: 'Times-Roman',
                    fontSize: 12,
                    color: '#981b48',
                    bold: true,
                    italic: true
                },
                monthOutlineColor: {
                    stroke: '#729B49',
                    strokeOpacity: 0.8,
                    strokeWidth: 2
                },
                unusedMonthOutlineColor: {
                    stroke: '#729B49',
                    strokeOpacity: 0.8,
                    strokeWidth: 1
                },
                underMonthSpace: 16,
            },
            noDataPattern: {
               backgroundColor: '#F1F5F6',
               color: '#a0c3ff'
            }

            };

           chart.draw(dataTable, options);
       }
        </script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['bar']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'You', 'Call centers', 'Ambulances', 'Hospitals'],
              ['2018', 3, 0, 0, 2],
              ['2019', 4, 4, 3, 16],
              ['2020', 8, 6, 8, 18],
              ['2021', 9, 0, 0, 0]
            ]);

            var options = {
              chart: {
                title: 'Access to your data',
                subtitle: '',
              },
              bars: 'vertical', // Required for Material Bar Charts.
              backgroundColor: "#F1F5F6",
              backgroundColorFill:"#F1F5F6",
              dataOpacity: 0.8

            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        </script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    {% if request.user.patient_profile.patient_photo.url != None %}
                    <img src="{% static 'request.user.patient_profile.patient_photo.url' %}">
                    {% else %}
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                    {% endif %}
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 500;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}
                    </p>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/">Home</a>
                    </li>
                    <li >
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Profile">Profile</a>
                    </li>
                    <li >
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Recent-Activities">Recent Activities</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Family-Medical-History">Family Medical History</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Episodes-Of-Care">Emergencies</a>
                    </li>
                    <li class="active">
                        <a style="font-size: 16px; font-weight: 500;" href="">My Data</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}

            <!-- Page Content -->
            <div id="content" style="overflow: auto; padding-top: 70px; width:100%; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd;">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>                        

                    </div>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/patient/home/">Home</a> -->
                    <a class="path_active" href="">My Data</a>
                </p>                                              

                <div class="container-fluid row" style="height: 90vh; padding-top: 8px;">
                    <div class="col-sm-4" style="padding: 16px;">                                            
                        <canvas id="accessByOrgs" style="width:100%; max-width:600px; height: 45%; padding: 16px;"></canvas>
                        <canvas id="accessOutput" style="width:100%; max-width:600px; height: 45%; padding: 16px;"></canvas>
                    </div>
                    <div class="col-sm-8" style="padding: 16px;">
                        <div id="regions_div" style="width: 100%; height: 70%; "></div>
                        <h6 style="text-align: center; font-weight: bold; font-size: 14px; padding: 4px; margin-top: 16px;">Download all your data</h6>
                        <div onclick="location.href='download_data'" class="card ml-auto mr-auto mb-auto mt-auto options" style=" padding: 8px; width: 192px; margin-top: 16px; background-color: #4679bd; border-radius: 32px;">
                            <h6 style="margin: auto; font-weight: bold; color: white;">Download</h6>
                        </div>
                        <!-- <div id="barchart_material" style="width: 100%; height: 45%;"></div> -->
                    </div>                    
                </div> 
                <!-- <div id="calendar_basic" style="width: 100%; height: auto; margin: auto;"></div> -->
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <div id="loader">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Downloading your data...</h6>
                    </div>                
                  </div>
                </div>
              </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>
            </div>
        </div>
    </body>
    <script>
            var xValues = ["Amsterdam UMC", "Erasmus MC", "Ambulancezorg Nederland", "Call Center Amsterdam"];
            var yValues = [10, 12, 4, 2];
            var barColors = [
              "#9BBFE0",
              "#E8A09A",
              "#FBE29F",
              "#C6D68F",              
            ];
            new Chart("accessByOrgs", {
              type: "doughnut",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                // title: {
                //   display: true,
                //   text: "Access to your data by organisation"
                // }
              }
            });

            var xValues = ["Allowed", "Denied"];
            var xValues2 = ["Allowed", "Erasmus MC", "Ambulancezorg Nederland", "Amsterdam UMC"]
            var yValues = [26, 6];
            var yValues2 = [26, 1, 2, 3]
            var barColors = [              
              "#519051",
              "#000000",
            ];
            var barColors2 = [
              "#F1F5F6",
              "#E8A09A",
              "#FBE29F",
              "#9BBFE0",
            ]
            new Chart("accessOutput", {
              type: "doughnut",
              data: {          
                labels: xValues,      
                datasets: [{                  
                  label: 'Access',
                  labels: xValues,
                  backgroundColor: barColors,
                  data: yValues                
                }, 
                {
                  label : 'Who accessed',
                  labels: xValues2, 
                  backgroundColor: barColors2, 
                  data: yValues2
                }]
              },              
              options: {
                // title: {
                //   display: true,
                //   text: "Allowed and denied accesses"
                // },
                tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                      var dataset = data.datasets[tooltipItem.datasetIndex];
                      var index = tooltipItem.index;
                      return dataset.labels[index] + ": " + dataset.data[index];
                    }
                  }
                }
              }
            });
        </script>
    <script src="{% static 'main/js/main.js' %}"></script>   
</html>