{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/chosen.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        
        
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components no-">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 500;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}
                    </p>
                    <li>
                        <a href="/patient/home/">Home</a>
                    </li>
                    <li class="active">
                         <a href="">Profile</a>
                    </li>
                    <li >
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Recent-Activities">Recent Activities</a>
                    </li>
                    <li>
                         <a href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li>
                        <a href="/patient/home/Family-Medical-History">Family Medical History</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Episodes-Of-Care">Emergencies</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/My-Data">My Data</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>
            
            <!-- HEADER -->
            {% include 'main/default/header.html' %}
            
            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd;">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>
                    </div>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/patient/home/">Home</a> -->
                    <a class="path_active" href="">Patient Profile</a>
                </p>

                <div class="row" style="margin-bottom: 32px;">
                    <div class="col-sm-6" style="padding: 16px;">
                        <div class="card" style="padding: 16px; margin: 8px; margin-top: 8px; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Personal Details</h5>
                            {% if patient_form %}

                            {{ patient_form.media }}
                            <form method="POST" style="text-align:left;">
                                {% csrf_token %}

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Name</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.name }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Surname</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.surname }}</p>  
                                    </div>
                                </div>
                                
                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">BSN</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.BSN }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Birth date</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.birthDate }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Phone number</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.telecom }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Gender</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.gender }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Zipcode</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.zipcode }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Address</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.address }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Marital status</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.maritalStatus }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Blood type</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.blood_type }}</p>  
                                    </div>
                                </div>

                                <!-- <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Blood type</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.blood_type }}</p>  
                                    </div>
                                </div> -->

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Photo</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.photo }}</p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 4px">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;" id="name">Language</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ patient_form.communication_language }}</p>  
                                    </div>
                                </div>
                                <button onclick="location.href='/patient/home/Profile/edit/'" data-toggle="modal" data-target="#teamsForEmergency" class="btn-primary btn" style="background-color: #4679bd; width: 11%; margin: auto;"><i class="fas fa-save"></i></button>
                            </form>

                            {% else %}
                            <div class="row" style="font-size: 14px; margin-top: 4px">
                                <div class="col-sm-5">
                                    <p id="name">Name</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.name|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Surname</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.surname|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">BSN</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.BSN|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Birth date</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.birthDate|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Phone number</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.telecom|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Zipcode</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.zipcode|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Address</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.address|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Gender</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_gender_display|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Marital status</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_maritalStatus_display|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Blood type</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_blood_type_display|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <!-- <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Blood type</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_blood_type_display|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div> -->

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Communication Languange</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_communication_language_display|default_if_none:"" }}</strong></p>  
                                </div>
                            </div>

                            <button onclick="location.href='/patient/home/Profile/edit/'" data-toggle="modal" data-target="#teamsForEmergency" class="btn-primary btn" style="background-color: #4679bd; width: 72px; margin-top: 16px; margin-left: auto; margin-right: auto;"><i class="fas fa-user-edit"></i></button>

                            {% endif %}
                        </div>

                    </div>
                    <div class="col-sm-6" style="padding: 16px;">                    
                        <div class="card" style=" padding: 16px; margin: 8px; margin-top: 8px; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Contact</h5>
                            {% if ec_form %}

                                <form method="POST">
                                    {% csrf_token %}

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Name</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_name}}</p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Relationship</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_relationship}}</p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Contact number</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_telecom}}</p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Zipcode</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_zipcode}}</p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Address</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_address}}</p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px; margin-top: 4px">
                                        <div class="col-sm-4">
                                            <p style="font-weight: bold;" id="name">Gender</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>{{ ec_form.contact_gender}}</p>  
                                        </div>
                                    </div>
                                    

                                    <button type="submit" class="btn-primary btn" style="background-color: #4679bd; width: 11%;"><i class="fas fa-save"></i></button>
                                </form>

                            {% else %}
                            
                            <div class="row" style="font-size: 14px; margin-top: 4px;">
                                <div class="col-sm-5">
                                    <p id="name">Full name</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.contact_name|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Relationship</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_contact_relationship_display }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Phone number</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.contact_telecom|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Gender</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.get_contact_gender_display }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Zipcode</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.contact_zipcode|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>

                            <div class="row" style="font-size: 14px;">
                                <div class="col-sm-5">
                                    <p id="name">Address</p>
                                </div>
                                <div class="col-sm-7">
                                    <p><strong>{{ request.user.patient_profile.contact_address|default_if_none:"-" }}</strong></p>  
                                </div>
                            </div>
                            
                            
                            <button onclick="location.href='/patient/home/Profile/edit_ec/'" data-toggle="modal" data-target="#teamsForEmergency" class="btn-primary btn" style="background-color: #4679bd; width: 72px; margin-top: 16px; margin-right: auto; margin-left: auto;"><i class="fas fa-user-edit"></i></button>

                            {% endif %}
                        </div>
                    </div>
                </div>

             <!-- The Modal -->
             <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>

        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/chosen.jquery.min.js' %}"></script>
    <script>
        jQuery(document).ready(function(){
	        jQuery(".chosen").chosen();
        });
    </script>
</html>