{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/chosen.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">

        <script src="/static/util/js/code_parsing.js"></script>

        <!-- <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/> -->
        <script src="http://{{internal_ip}}/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">            
            var key_id = "{{keyid}}";
            var user_related = "{{user_related|safe}}"
            key_id = key_id.replace(/&quot;/g, '"');
            key_id = key_id.replace(/"/g, '');
            var internal_ip = "{{internal_ip}}"
        </script>

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>
        <!--<script src="/static/keycloakjs/js/keycloak_js.js"></script>-->        
    </head>
    <body onload="initKeycloak()">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user-circle" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components no-">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 500;">Welcome, {{ user.patient_profile.name }} {{ user.patient_profile.surname }}
                    </p>
                    <li>
                        <a href="/patient/home/">Home</a>
                    </li>
                    <li >
                         <a href="/patient/home/Profile">Profile</a>
                    </li>
                    <li >
                        <a href="/patient/home/Recent-Activities">Recent Activities</a>
                    </li>
                    <li>
                         <a href="/patient/home/Allergy-Intolerance">Allergies Intolerance</a>
                    </li>
                    <li>
                        <a href="/patient/home/Conditions">Conditions</a>
                    </li>
                    <li class="active">
                        <a href="">Family Medical History</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/Episodes-Of-Care">Emergencies</a>
                    </li>
                    <li>
                        <a style="font-size: 16px; font-weight: 500;" href="/patient/home/My-Data">My Data</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}

            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                            <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                            <span></span>
                        </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                        </button>
                    </div>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/patient/home/">Home</a> -->
                    <a class="path_active" href="">Family Medical History</a>
                </p>

                <!--
                {%if amount == 0 %}
                    <h5 style="text-align: center; font-weight: bold; padding: 4px; margin-top: 16px;">You don't have any family member history recorded</h5>
                {% endif %} -->
                <div id="addall" data-toggle="collapse" data-target="#fmh_form"  class="card ml-auto mr-auto options" style="padding: 8px; width: 192px; margin-top: 16px; background-color: #4679bd; border-radius: 32px;">
                    <h6 style="margin: auto; font-weight: bold; color: white;">+ Add history</h6>
                </div>
                <div style="margin: auto; " id="fmh_form" class="collapse.show">
                    <form id="form" class="newItemForm" id="addFamilyMH" method="POST">
                        {% csrf_token %}
                        <div class="row" style="padding: 8px;">
                            <div class="col-sm-5">
                                <p style="font-weight: bold; font-size: 14px; margin: 0px; padding: 0px;">
                                    Condition
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {{ family_mh_form.condition }}
                            </div>
                        </div>
                        
                        <div class="row" style="padding: 8px;">
                            <div class="col-sm-5">
                                <p style="font-weight: bold; font-size: 14px; margin: 0px; padding: 0px;">
                                    Relationship
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {{ family_mh_form.relationship }}
                            </div>
                        </div>

                        <div class="row" style="padding: 8px;">
                            <div class="col-sm-5">
                                <p style="font-weight: bold; font-size: 14px; margin: 0px; padding: 0px;">
                                    Sex
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {{ family_mh_form.sex }}
                            </div>
                        </div>
                        
                        <div class="row" style="padding: 8px;">
                            <div class="col-sm-5">
                                <p style="font-weight: bold; font-size: 14px; margin: 0px; padding: 0px;">
                                    Age
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {{ family_mh_form.age }}
                            </div>
                        </div>                        

                        <div class="row" style="padding: 8px;">
                            <div class="col-sm-5">
                                <p style="font-weight: bold; font-size: 14px; margin: 0px; padding: 0px;">
                                    Deceased
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {{ family_mh_form.deceased }}
                            </div>
                        </div>


                      <button type="submit" class="btn-primary btn" style="background-color: #4679bd; width: 11%;"><i class="fas fa-save"></i></button>
                    </form>
                </div>

                <div id="loader">
                    <div class="water"></div>
                    <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                </div>

                <h5 id="no_records" style="text-align: center; font-weight: bold; padding: 4px; margin-top: 16px; display: none">You don’t have any family medical history recorded</h5>

                <div id="fmhTable" class="list-group card mr-auto ml-auto" style="margin: 4px; height: auto; max-height: 80%; margin-top: 32px; overflow: auto; width: 80%; min-width: 600px; box-shadow: 2px 2px 15px rgba(33,33,33,.2); display: none;">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Relationship</h6>
                            </div>
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Sex</h6>
                            </div>
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Age</h6>
                            </div>
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Condition</h6>
                            </div>
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Deceased</h6>
                            </div>
                            <div class="col-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Action</h6>
                            </div>
                        </div>
                    </a>
                    
                    <div id="fmh_objects" style="min-width: 600px;"></div>
                </div>

                <!--
                {% if amount == 0 %}

                {% else %}
                <div id="conditiontable" class="list-group card mr-auto ml-auto" style="margin: 4px; height: auto; max-height: 80%; margin-top: 32px; overflow: auto; width: 80%; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Relationship</h6>
                            </div>
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Sex</h6>
                            </div>
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Age</h6>
                            </div>
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Condition</h6>
                            </div>
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Deceased</h6>
                            </div>
                            <div class="col-sm-2" style="padding: 0px">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Action</h6>
                            </div>
                        </div>
                    </a>                    
                        {% for record in data %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ record.get_family_mh_relationship_display|default_if_none:'-' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ record.get_family_mh_sex_display|default_if_none:'-' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ record.family_mh_age|default_if_none:'-' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ record.get_family_mh_condition_display|default_if_none:'Unknown' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ record.family_mh_deceased|default_if_none:'-' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px">
                                    <div id="{{ record.pk }}" onclick="remove_fmh(this)" class="options" style="padding:2px; background-color: #4679bd; border-radius: 32px;">
                                        <h6 style="text-align: center; font-size: 12px; margin: 0px; padding: 2px; font-weight: bold; color: white;">Remove </h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}                    
                </div>
                {% endif %}
                -->

            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #F1F5F6;">
                
                        <!-- Modal Header -->
                        <div class="modal-header no-border">
                            <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                            Do you want to log out?
                        </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/patient/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>                    
                </div>
            </div>
            
            <!-- The Modal -->
            <div class="modal fade" id="fmh_details">
                <div class="modal-dialog">
                <div class="modal-content" style="">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                    <h4 class="modal-title" style="color: darkred; font-weight: bold; font-size: 20px;">Family Medical History</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; font-size: 16px;">
                        <div>
                            Relationship
                            <p id="fmh_relationship"></p>
                        </div>
                        <div>
                            Gender
                            <p id="fmh_gender"></p>
                        </div>
                        <div>
                            Birth Date
                            <p id="fmh_gender"></p>
                        </div>
                        <div>
                            Estimated Age
                            <p id="fmh_gender"></p>
                        </div>
                        <div>
                            Deceased
                            <p id="fmh_gender"></p>
                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    </div>
                    
                </div>
                </div>
            </div>            
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div id="loader">
                    <div class="water"></div>
                    <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Uploading record ...</h6>
                </div>                
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="loadDelete" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div id="loader">
                    <div class="water"></div>
                    <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Deleting record ...</h6>
                </div>                
              </div>
            </div>
          </div>
        </div>

    </body>
    
    <script src="{% static 'main/js/family_mh.js' %}"></script> 
    <script src="{% static 'main/js/chosen.jquery.min.js' %}"></script>
    <script>
        jQuery(document).ready(function(){
	        jQuery(".chosen").chosen();
        });
    </script>  
</html>