{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
        
    </head>
    <body style="padding-top: 3%;">
        
        <!-- HEADER -->
        {% include 'main/default/header.html' %}
        
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <img src="../../static/login/images/amsterdam_umc.png" style="margin-top: 32px; height: auto; width: 60%;">
                <div class="form-box" style="margin-top: 36px;">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input name="username" type="text" placeholder="Username">
                        <input name="password" type="password" placeholder="Password">
                        <button class="btn btn-info btn-block login" type="submit">Login</button>
                    </form>
                </div>
                <h1 style="margin-top: 16px; font-size: 14px;">Haven't created an account yet?</h1>
                <button class="btn btn-info btn-block signup" onclick="location.href = '/signup';" type="submit">Sign up</button>
            </div>
        </div>
    </body>
</html>