{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{{ standard_form.media }}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/signup.css' %}">
        
        
    </head>
    <body>
        <!-- HEADER -->
        {% include 'main/default/header.html' %}

        <!-- PAGE CONTENT -->
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <img src="../../static/login/images/amsterdam_umc.png" style="margin-top: 32px; height: auto; width: 60%;">
                <div class="form-box">
                    <!-- multistep form --> 
                    <form method="POST" id="msform">
                        {% csrf_token %}
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">Account Setup</li>
                            <li>Personal Details</li>
                            <li>Personal Details</li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">Account Setup</h2>
                            {{ standard_form.username.label_tag }}
                            {{ standard_form.username }}
                            {{ standard_form.password.label_tag }}
                            {{ standard_form.password }}
                            {{ standard_form.password2.label_tag }}
                            {{ standard_form.password2 }}
                            {{ standard_form.email.label_tag }}
                            {{ standard_form.email }}
                           
                            <input type="button" name="next" class="next action-button" value="Next" style="margin-top: 8px;"/>
                        </fieldset>
                        
                        <fieldset>
                            <h2 class="fs-title">Overall Profile</h2>
                            {{ standard_form.gender.label_tag }}
                            {{ standard_form.gender }}<br><br>
                            {{ standard_form.name.label_tag }}
                            {{ standard_form.name }}
                            {{ standard_form.surname.label_tag }}
                            {{ standard_form.surname }}
                            {{ standard_form.bsn.label_tag }}
                            {{ standard_form.bsn }}
                            {{ standard_form.birthDate.label_tag }}
                            {{ standard_form.birthDate }}
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <input type="button" name="next" class="next action-button" value="Next" />
                        </fieldset>

                        <fieldset>
                            <h2 class="fs-title">Personal Details</h2>
                            {{ standard_form.telecom.label_tag }}
                            {{ standard_form.telecom }}
                            {{ standard_form.address.label_tag }}
                            {{ standard_form.address }}
                            {{ standard_form.postalCode.label_tag }}
                            {{ standard_form.postalCode }}
                            {{ standard_form.country.label_tag }}
                            {{ standard_form.country }}
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <button class="action-button" type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'login/js/signup.js' %}"></script>   
</html>