.slick-next {
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    text-align: center;
}
.slick-next:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}