{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'researcher/css/functional_encryption.css' %}">

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>
    </head>
    <body >
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user" style="height: 60%; width: 60%; margin-top: 36px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.organization_name }}</p>
                    <li >
                        <a href="/researcher/home/">Home</a>
                    </li>                    
                    <li >
                        <a href="/researcher/home/profile/">Profile</a>
                    </li>
                    <li>
                        <a href="/researcher/home/manage-research-studies/">Manage research studies</a>
                    </li>
                    <li >
                        <a href="/researcher/home/research-studies/">Research studies</a>
                    </li>
                    <li >
                        <a href="/researcher/home/research-studies/">Data sources</a>
                    </li>
                    <li class="active">
                        <a href="">Calculations</a>
                    </li>
                    <li >                        
                    <li>
                        <a onclick="alert('Under construction');">Recent activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    


            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">

                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/researcher/home/">Home</a> -->
                    <a class="path_active" href="/researcher/home/manage-research-studies/">Functional Encryption</a>                      
                </p>                

                <div class="row" style="margin-bottom: 32px; overflow: auto; width: 100%; height: 100vh;">
                    <div class="card col-sm-5 ml-auto mr-auto" style="min-width: : 300px; margin: 32px; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                        <div class="ml-auto mr-auto" style="margin: 16px;">                            
                            <p style="font-weight: bold; font-size: 16px; padding: 0px;  margin: 0px; padding-top: 16px;">1 - Choose the operation that you want to perform</p>
                            <div style="padding-top: 16px;">
                                <select name="" id="operation" onchange="displayFeatures(this)">
                                    <option value="subtract">Subtraction (-)</option>
                                    <option value="sum">Sum (+)</option>                         
                                    <option value="average">Average (x̅)</option>                                    
                                </select>
                            </div id="subtractDescription" style="padding: : 4px;">
                                <p style="font-size: 16px; padding: 4px;  margin: 4px">For every available record, Subtracts <strong>feature A</strong> from <strong>feature B</strong> : <strong>(A - B)</strong>.</p>
                            <div>
                            </div id="averageDescription" style="padding: : 4px;">
                                <p style="font-size: 16px; padding: 4px;  margin: 4px">Gets the average for <strong>feature A</strong> from all the available records.</p>
                            <div>
                            </div id="sumDescription" style="padding: : 4px;">
                                <p style="font-size: 16px; padding: 4px;  margin: 4px">Sums <strong>feature A</strong> from all the available records.</p>
                            <div>

                            </div>
                            <br><br>

                            <p style="font-weight: bold; font-size: 16px; padding: 0px;  margin: 0px">2 - Select the feature(s)</p>
                            <div class="">
                                <div id="featureA">
                                    <p style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px; padding-top: 16px;">Feature A</p>
                                    <div style="padding: 16px;">                                
                                        <select name="field1" id="equation-left-side">
                                            {% for available_field in available_fields %}
                                            <option value="{{ available_field.translation }}">{{ available_field.field_name }}</option>
                                            {% endfor %}                          
                                        </select>
                                    </div >
                                </div>                                
                                
                                <div id="featureB">
                                    <p style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px; padding-top: 16px;">Feature B</p>
                                    <div style=" padding: 16px;">                                
                                        <select name="field2" id="equation-right-side">
                                            {% for available_field in available_fields %}
                                            <option value="{{ available_field.translation }}">{{ available_field.field_name }}</option>                                     
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>                                
                            </div>                            
                            <br><br>

                            <!-- <p style="font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">3 - Operation overview </p> -->
                            <div onclick="compute_fe()" class="card ml-auto mr-auto options" style="padding: 8px; width: 172px; margin-top: 10%; background-color:#4679bd; border-radius: 32px;">
                                <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">Calculate</h6>
                            </div>                            
                        </div>                    
                    </div>

                    <div class="card col-sm-7 ml-auto mr-auto" style="min-width: : 700px; margin: 32px; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">                        
                        <div class="" style="margin: 16px;">
                            <h5 style="text-align: center; padding: 4px; margin-top: 8px; font-weight: bold;">Performed calculations</h5>
                            
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5; width:">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Date</h6>
                                        </div>
                                        <div class="col-sm-4" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature A</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Operation</h6>
                                        </div>                                        
                                        <div class="col-sm-4" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature B</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for operation in previous_operations %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin:0px;">
                                        <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ operation.operation_datetime }}</h6>
                                        </div>
                                        <div class="col-sm-4 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ operation.equation_left_side }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ operation.operation }}</h6>
                                        </div>                                        
                                        <div class="col-sm-4 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ operation.equation_right_side }}</h6>
                                        </div>
                                    </div>
                                </a>
                                {% empty %}
                                <p style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: auto; padding: 16px;">Any previous calculations were found</p>
                                {% endfor %}
                            </div>

                        </div>                    
                    </div>

                </div>

                
                
                                        
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <div id="loader">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Computing...</h6>
                    </div>                
                  </div>
                </div>
              </div>
            </div>
        </div>
    </body >
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'researcher/js/fe.js' %}"></script>
    <script src="{% static 'main/js/hospital_team.js' %}"></script>   
</html>