{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">

        <style type="text/css">
            .round {
              position: relative;
            }

            .round label {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 50%;
              cursor: pointer;
              height: 28px;
              left: 0;
              position: absolute;
              top: 0;
              width: 28px;
            }

            .round label:after {
              border: 2px solid #fff;
              border-top: none;
              border-right: none;
              content: "";
              height: 6px;
              left: 7px;
              opacity: 0;
              position: absolute;
              top: 8px;
              transform: rotate(-45deg);
              width: 12px;
            }

            .round input[type="checkbox"] {
              visibility: hidden;
            }

            .round input[type="checkbox"]:checked + label {
              background-color: #66bb6a;
              border-color: #66bb6a;
            }

            .round input[type="checkbox"]:checked + label:after {
              opacity: 1;
            }
           
        </style>
    </head>
    <body >
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user" style="height: 60%; width: 60%; margin-top: 36px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.organization_name }}</p>
                    <li>
                        <a href="/researcher/home/">Home</a>
                    </li>                    
                    <li >
                        <a onclick="alert('Under construction');">Profile</a>
                    </li>
                    <li class="active">
                        <a onclick="alert('Under construction');">Research</a>
                    </li>
                    <li >
                        <a onclick="alert('Under construction');">Functional Encryption</a>
                    </li>
                    <li >                        
                    <li>
                        <a onclick="alert('Under construction');">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

             <!-- Page Content -->
             <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/researcher/home/">Home</a> -->
                    <a class="path" href="/researcher/home/researchs/">Researchs</a> -->
                    <a class="path_active" href="/researcher/home/researchs/10/">10</a>
                </p>

                <div class="row" style="margin-bottom: 32px; overflow: auto; width: 100%; height: 100vh;">
                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class="card" style="padding: 8px; height: 100%; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                                <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Research Details</h5>
                                <div class="row" style="overflow: auto; height: 35vh; overflow: auto;">
                                    <div class="col-sm-12">
                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Research ID</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>10</strong></p>  
                                            </div>
                                        </div>
                                        
                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Started at</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>09 April 2018</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Ended at</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>18 June 2021</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Principal Investigator</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>Suzanne Dias</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Research Group ID</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>123456789</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Trial ID</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>90</strong></p>  
                                            </div>
                                        </div>

                                        <div onclick="window.alert('Under construction!')" class="card mr-auto options" style="padding: 8px; width: 112px; margin-top: 1%; background-color: #4679bd; border-radius: 32px;">
                                            <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">Trial details</h6>
                                        </div>

                                    </div>                                  
                                </div>
                                
                                <h5 style="text-align: center; padding: 4px; margin-top: 8px; font-weight: bold;">Downloads</h5>
                                
                                <div class="list-group card" style="height: 65vh; overflow: auto; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                                           
                                    <a data-target="#features_downloaded" data-toggle="modal" class="list-group-item list-group-item-action flex-column align-items-start options">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 16px;">Sandra
                                          </h6>
                                        </div>
                                        <small style="font-size: 12px;">Downloaded features in <strong>07 September 2019</strong></small>
                                    </a>

                                    <a data-target="#features_downloaded" data-toggle="modal" class="list-group-item list-group-item-action flex-column align-items-start options">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 16px;">John
                                          </h6>
                                        </div>
                                        <small style="font-size: 12px;">Downloaded features in <strong>18 December 2019</strong></small>
                                    </a>                                
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class="card" style="padding: 8px; height: 100%; overflow: auto; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                                <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Features</h5>

                                 <div class="list-group card tables" style=" margin-top: 8px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature name
                                </h6>
                            </div>
                            <div class="col-sm-6" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Select Feature
                                </h6>
                            </div>                                                        
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Condition Name</h6>
                            </div>                        
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <div class="container" style="display: flex; justify-content: center;">
                                    <div class="round">
                                        <input type="checkbox" id="condition_name" />
                                        <label for="condition_name"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Codition Status</h6>
                            </div>                        
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <div class="container" style="display: flex; justify-content: center;">
                                    <div class="round">
                                        <input type="checkbox" id="condition_status" />
                                        <label for="condition_status"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Patient Age</h6>
                            </div>                        
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <div class="container" style="display: flex; justify-content: center;">
                                    <div class="round">
                                        <input type="checkbox" id="patient_age" />
                                        <label for="patient_age"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                 <div onclick="window.alert('Under construction!')" class="card options mr-auto ml-auto" style="padding: 8px; width: 48%; background-color: #4679bd; border-radius: 32px; margin-top: 16px;">
                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                        <i class="fa fa-download"></i>
                                        Download features
                                    </h6>
                </div>
                </div>               
            </div>

            <!-- Downloaded Features -->
            <div id="features_downloaded" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h4 style="text-align: center;">Features Downloaded</h4>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature name
                                            </h6>
                                        </div>
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Downloaded
                                            </h6>
                                        </div>                                                        
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Condition Name</h6>
                                        </div>                        
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <div class="container" style="display: flex; justify-content: center;">
                                                <div class="round">
                                                    <input type="checkbox" id="condition_name" checked="" />
                                                    <label for="condition_name"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Codition Status</h6>
                                        </div>                        
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <div class="container" style="display: flex; justify-content: center;">
                                                <div class="round">
                                                    <input type="checkbox" id="condition_status" checked="" />
                                                    <label for="condition_status"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">Patient Age</h6>
                                        </div>                        
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <div class="container" style="display: flex; justify-content: center;">
                                                <div class="round">
                                                    <input type="checkbox" id="patient_age" checked="" />
                                                    <label for="patient_age"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Trial -->
            <div id="employees" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h4 style="text-align: center;">Employees</h4>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Department</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Role</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for emp in employees %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin:0px;">
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ emp.employee_name }} {{ emp.employee_surname }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ emp.employee_department }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ emp.employee_role }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <div id="{{ emp.pk }}" onclick="add_to_team_organization(this)" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                <h6  class="mb-1" style="text-align: center; margin: 0px; padding: 2px;font-size: 12px; font-weight: bold; color: white;">Add</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body >
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/hospital_team.js' %}"></script>   
</html>