{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}"/>

        <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">
            var internal_ip = "{{internal_ip}}";
            // console.log(internal_ip);
            var features_id_list = "{{features_id|safe}}";
            features_id_list = JSON.parse(features_id_list.replace(/'/g, '"'));
            // console.log(features_id_list);
            var keys_id_list = "{{keys_id|safe}}";
            keys_id_list = JSON.parse(keys_id_list.replace(/'/g, '"'));
            // console.log(keys_id_list)

        </script>        

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>        

        <style type="text/css">
            .round {
              position: relative;
            }

            .round label {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 50%;
              cursor: pointer;
              height: 28px;
              left: 0;
              position: absolute;
              top: 0;
              width: 28px;
            }

            .round label:after {
              border: 2px solid #fff;
              border-top: none;
              border-right: none;
              content: "";
              height: 6px;
              left: 7px;
              opacity: 0;
              position: absolute;
              top: 8px;
              transform: rotate(-45deg);
              width: 12px;
            }

            .round input[type="checkbox"] {
              visibility: hidden;
            }

            .round input[type="checkbox"]:checked + label {
              background-color: #66bb6a;
              border-color: #66bb6a;
            }

            .round input[type="checkbox"]:checked + label:after {
              opacity: 1;
            }
           
        </style>
    </head>
    <body onload="initKeycloak()">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user" style="height: 60%; width: 60%; margin-top: 36px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.organization_name }}</p>
                    <li>
                        <a href="/researcher/home/">Home</a>
                    </li>                    
                    <li >
                        <a href="/researcher/home/profile/">Profile</a>
                    </li>
                    {% if request.user.user_type == 7 %}
                    <li >
                        <a href="/researcher/home/manage-research-studies/">Manage research studies</a>
                    </li>
                    {% endif %}
                    <li class="active">
                        <a href="/researcher/home/research-studies/">Research studies</a>
                    </li>
                    <li >
                        <a href="/researcher/home/data-sources/">Data sources</a>
                    </li>
                    <li >
                        <a href="/researcher/home/functional-encryption/">Functional encryption</a>
                    </li>
                    <li >                        
                    <li>
                        <a onclick="alert('Under construction');">Recent activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

             <!-- Page Content -->
             <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/researcher/home/">Home</a> -->
                    <a class="path" href="/researcher/home/research-studies/">Research studies</a> -->
                    <a class="path_active" href="#">{{ study.name }}</a>
                </p>

                <div class="row" style="margin-bottom: 32px; overflow: auto; width: 100%; height: 100vh;">
                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class="card" style="padding: 8px; height: 100%; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                                <h5 style="padding: 4px; margin-top: 4px; font-weight: bold;">Research Details</h5>
                                <div class="row" style="overflow: auto; height: 35vh; overflow: auto;">
                                    <div class="col-sm-12">
                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Study</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>{{ study.name }}</strong></p>  
                                            </div>
                                        </div>
                                        
                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Started at</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>{{ study.start_datetime }}</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Ended at</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>{{ study.end_datetime }}</strong></p>  
                                            </div>
                                        </div>

                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Principal investigator</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <p><strong>{{ study.principal_investigator.employee.name }} {{ study.principal_investigator.employee.surname }}</strong></p>  
                                            </div>
                                        </div>
                                        <div class="row" style="font-size: 14px;">
                                            <div class="col-sm-4">
                                                <p id="name">Data source details</p>
                                            </div>
                                            <div data-toggle="modal" data-target="#trialDetails" class="card mr-auto options" style="padding: 8px; width: 136px; background-color: #4679bd; border-radius: 32px;">
                                                <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">Data source</h6>
                                            </div>
                                        </div>                                        
                                    </div>                                  
                                </div>
                                
                                <h5 style="padding: 4px; margin-top: 8px; font-weight: bold;">Your Downloads</h5>
                                
                                <div class="list-group card" style="height: 65vh; overflow: auto; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">                                    
                                    <a class="list-group-item list-group-item-action flex-column align-items-start options">                                                    
                                        <small style="font-size: 12px;">Under construction... <strong></strong></small>
                                    </a>                                    
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class="card" style="padding: 8px; height: 100%; overflow: auto; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                                <div onclick=download_features() class="card options mr-auto ml-auto" style="padding: 8px; width: 48%; background-color: #4679bd; border-radius: 32px; margin-top: 16px;">
                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                        <i class="fa fa-download"></i>
                                            Download features
                                    </h6>
                                </div>
                                <form  id="lookForPatient" style="text-align: center; padding-top: 16px">
                                    {% if filters.identifier != None %}
                                    <input class="test" type="text" name="identifier" placeholder="Feature name" value="{{ filters.identifier }}">
                                    {% else %}
                                    <input class="test" type="text" name="identifier" placeholder="Feature name">
                                    {% endif %}
                                    <button onclick="window.alert('Under Construction!')" style="background-color:#D14200; " class="btn btn-primary" type="submit">
                                        <i style="background-color:#D14200;" class="fas fa-search"></i>
                                    </button>
                                </form>

                                 <div class="list-group card tables" style=" margin-top: 8px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature name
                                </h6>
                            </div>
                            <div class="col-sm-6" style="padding: 0px;">
                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Select Feature
                                </h6>
                            </div>                                                        
                        </div>
                    </a>
                    {% for feature in features %}
                    <a id="features_list" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ feature.feature.name }}</h6>
                            </div>                        
                            <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                <div class="container" style="display: flex; justify-content: center;">
                                    <div class="round">
                                        <input type="checkbox" id="{{ feature.feature.feature_name }}" />
                                        <label for="{{ feature.feature.feature_name }}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}                    
                </div>                
                </div>               
            </div>

            <!-- Teams Modal -->
            <div id="trialDetails" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h5 style="padding: 4px; margin-top: 8px; font-weight: bold;">Trial details</h5>
                            <div class="card">
                                <!-- <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-4">
                                        <p id="name"><strong>Start time</strong></p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><strong>{{ trial.start_datetime }}</strong></p>  
                                    </div>
                                </div>
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-4">
                                        <p id="name"><strong>End time</strong></p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><strong>{{ trial.end_datetime }}</strong></p>  
                                    </div>
                                </div> -->
                                <h6 style="font-weight: bold; font-size: 14px; padding: 8px;  margin: 0px">This trial contains data collected from {{ trial.start_datetime }} until {{ trial.end_datetime }}.
                                </h6>
                            </div>                            
                            <h5 style="padding: 8px; margin-top: 8px; font-weight: bold;" id="name">Features</h5>
                            <div class="list-group card tables" style=" margin-top: 8px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="padding: 0px; margin: 0px;">
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Feature name
                                            </h6>
                                        </div>
                                        <div class="col-sm-6" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Description
                                            </h6>
                                        </div>                                                        
                                    </div>
                                </a>
                                {% for feature in trial_features %}
                                <a id="features_list" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="padding: 0px; margin: 0px;">
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ feature.feature.name }}</h6>
                                        </div>
                                        <div class="col-sm-6 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ feature.feature.description }}</h6>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}                    
                            </div>
                    </div>
                </div>
            </div>
            

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <div id="loader">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Computing...</h6>
                    </div>                
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </body >    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/hospital_team.js' %}"></script>  
    <script src="/static/researcher/js/research_study.js"></script> 
</html>