.options{
    box-shadow: 2px 2px 15px rgba(33,33,33,.2); 
}
.options:hover {
    box-shadow: 2px 2px 8px #D14200;
}

.options:active {
    background-color: #CED9E5;
}

.path {
    color: black;
}

.path:hover {
    color: #D14200;
}

.path_active {
    color: #D14200;
    text-decoration: underline;
}
