{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
    </head>
    <body >
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-university" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.organization_name }}</p>
                    <li>
                        <a href="/org/home/">Home</a>
                    </li>
                    <li class="active">
                        <a href="">Emergency Requests</a>
                    </li>
                    <li >
                        <a href="/org/home/Teams">Teams</a>
                    </li>
                    <li >
                        <a href="/org/home/Employees">Employees</a>
                    </li>
                    <li>
                        <a href="/org/home/Organization">Organization</a>
                    </li>
                    <li>
                        <a onclick="alert('Under construction');">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    


            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <div class="ml-auto mr-auto" style="min-width: 600px; width: 100%; height: 100vh;">
                    <p style="text-align: center; font-weight: bold; font-size: 14px;">
                        <a class="path" href="/org/home/">Home</a> --> 
                        <a class="path_active" href="">Emergency Request</a> 
                    </p>
        

                    {% if request.user.organization.type == 4 %}
                    <div onclick="start_emergency_session(this)" class="card ml-auto mr-auto options" style=" padding: 8px; width: 30%; margin-top: 2%; background-color: #4679bd; border-radius: 32px;">
                        <h6 style="text-align: center; margin-bottom: 4px; font-weight: bold; color: white;">Start an emergency session</h6>
                    </div>
                    {% endif %}
                    <h6 style="text-align: center; padding: 4px; font-weight: bold; margin-top: 2%">Emergencies</h6> 

                    <div class="list-group card cardlist" style="padding: 2px; max-height: 30vh; overflow: auto; height: auto; overflow: auto; margin: 2px; margin-top: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                        <a class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-sm-2" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;">Date</h6>
                                </div>
                                <div class="col-sm-2" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;" >Patient name</h6>
                                </div>
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;">Organization requesting</h6>
                                </div>
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;">Status</h6>
                                </div>
                                <div class="col-sm-2" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;">Action</h6>
                                </div>
                            </div>
                        </a>

                        {% for rec in service_requests %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row" style="text-align: center; margin: 0px; padding: 0px;">
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; padding: 0px; font-size: 14px;">{{ rec.encounter.start_datetime|date:'d/m/Y' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; padding: 0px; font-size: 14px;">{{ rec.encounter.patient.name|default_if_none:'-' }} {{ rec.encounter.patient.surname|default_if_none:'-' }} </h6>
                                </div>
                                <div class="col-sm-3 mt-auto mb-auto" style="padding:0px">
                                    <h6  class="mb-1"style="font-weight: bold; padding: 0px; font-size: 14px;">{{ rec.org_requesting.name }} </h6>
                                </div>
                                <div class="col-sm-3 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color: {{ rec.status_color }}">{{ rec.status }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    {% if rec.action == "Nothing to do" %}
                                    <div class="card mr-auto ml-auto" style="background-color: {{ rec.btn_color }}; border-radius: 32px; width: 112px; padding: 2px;">
                                        <h6 class="mb-1" style="text-align: center; padding: 0px; font-size: 12px; font-weight: bold; color: white; margin: 0px; padding: 2px;">{{ rec.action }}</h6>
                                    </div>
                                    {% else %}
                                    <div id="identdiv" data-toggle="modal" data-target="#hteams" data-id="{{ rec.pk }}"  class="card options mr-auto ml-auto" style="width: 112px; background-color: {{ rec.btn_color }}; border-radius: 32px; padding: 2px;">
                                        <h6 class="mb-1" style="text-align: center; padding: 0px; font-size: 12px; font-weight: bold; color: white; margin: 0px; padding: 2px;">{{ rec.action }}</h6>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                    <!-- Transference REQUESTS -->
                    {% if request.user.organization.type != 3 %}
                    <h6 style="text-align: center; padding: 8px; font-weight: bold; margin-top: 2%">Transfer requests</h6> 

                    <div class="list-group card cardlist" style="padding: 2px; max-height: 20vh; height: auto; overflow: auto; margin: 2px; margin-top: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                        <a class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                            <div class="row" style="text-align: center; margin: 0px; padding:0px">
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Date</h6>
                                </div>
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Patient name</h6>
                                </div>
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Transfer from</h6>
                                </div>
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Transfer to</h6>
                                </div>
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Status</h6>
                                </div>
                                <div class="col-sm-2" style="padding:0px">
                                    <h6 style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 14px; margin: 0px;">Action</h6>
                                </div>
                            </div>
                        </a>

                        {% for rec in transfer_requests %}
                        {% if request.user.organization.type == 2 %}
                            <a id="{{ rec.pk }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.start_datetime|date:'d/m/Y' }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.patient.name|default_if_none:'-' }} {{ rec.encounter.patient.surname|default_if_none:'-' }} </h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.org_requesting.name }} </h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.transfer_to.name }} </h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color:{{ rec.color }};">{{ rec.status }}</h6>
                                </div>
                                <div class="col-sm-2 mt-auto mb-auto" style="padding:0px">
                                {% if rec.func_ref == "nta" %}
                                <div onclick="accept_transference_from_org(this)" id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="background-color: #4679bd; width: 112px; border-radius: 32px; padding: 2px;">
                                    <h6 class="mb-1" style="text-align: center; font-size: 12px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                </div>
                                {% else %}
                                    {% if rec.func_ref == "att" %}
                                    <div id="identdiv" data-toggle="modal" data-target="#ambteams" data-id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="background-color: #4679bd; width: 112px; border-radius: 32px; padding: 2px;">
                                        <h6 class="mb-1" style="text-align: center;font-size: 12px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                    </div>
                                    {% else %}
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">Nothing to do</h6>    
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        </a>

                        {% else %}
                            {% if rec.transfer_to == None %}
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.start_datetime|date:'d/m/Y' }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.patient.name|default_if_none:'-' }} {{ rec.encounter.patient.surname|default_if_none:'-' }} </h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.org_requesting.name }} </h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.org_requested.name }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color:{{ rec.color }};">{{ rec.status }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        {% if rec.func_ref == None %}
                                        <h6 class="mb-1" style="font-weight: bold; padding: 8px; font-size: 16px;">Nothing to do</h6>
                                        {% else %}
                                            {% if rec.func_ref == "atte" %}
                                                {% if request.user.type == 2 %}
                                                <div id="identdiv" data-target="#ambteams" data-toggle="modal" data-id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                    <h6 class="mb-1" style="text-align: center; font-size: 12px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                                </div>
                                                {% else %}
                                                <div id="identdiv" data-target="#hteams" data-toggle="modal" data-id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                    <h6 class="mb-1" style="text-align: center; font-size: 12px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                                </div>
                                                {% endif %}
                                            {% else %}
                                            <div onclick="accept_transference_from_org(this)" id="{{ rec.pk }}" data-target="#teams" data-toggle="modal" data-id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 0px">
                                                <h6 class="mb-1" style="text-align: center; font-size: 12px; padding: 2px; margin:0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.start_datetime|date:'d/m/Y' }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.patient.name|default_if_none:'-' }} {{ rec.encounter.patient.surname|default_if_none:'-' }} </h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.org_requesting.name }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.transfer_to.name }} </h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color:{{ rec.color }};">{{ rec.status }}</h6>
                                    </div>
                                    <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                    {% if rec.func_ref == "srto_ambulance" %}
                                        <div id="identdiv" data-toggle="modal" data-target="#ambulanceorgs" data-id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                            <h6 class="mb-1" style="text-align: center; font-size: 14px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                        </div>
                                    {% else %}
                                        {% if rec.func_ref == "srto" %}
                                            <div onclick="req_transference_to_org(this)" id="{{ rec.pk }}"  class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                <h6 class="mb-1" style="text-align: center; font-size: 14px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                            </div>
                                        {% else %}
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">Nothing to do</h6>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            </a>
                        {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    
                    <!-- Discharge REQUESTS -->
                    {% if request.user.organization.type == 4 %}
                    <h6 style="text-align: center; padding: 8px; font-weight: bold; margin-top: 1%">Discharge requests</h6> 

                    <div class="list-group card cardlist" style="padding: 2px; max-height: 20vh; height: auto; overflow: auto; margin: 2px; margin-top: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                        <a href="#" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Date</h6>
                                </div>
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Patient name</h6>
                                </div>
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Status</h6>
                                </div>
                                <div class="col-sm-3" style="padding: 0px;">
                                    <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px; margin: 0px;">Action</h6>
                                </div>
                            </div>
                        </a>

                        {% for rec in discharge_requests %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                <div class="col-sm-3 mt-auto mb-auto">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.start_datetime|date:'d/m/Y' }}</h6>
                                </div>
                                <div class="col-sm-3 mt-auto mb-auto">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ rec.encounter.patient.name|default_if_none:'-' }} {{ rec.encounter.patient.surname|default_if_none:'-' }} </h6>
                                </div>
                                <div class="col-sm-3 mt-auto mb-auto">
                                    <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color: goldenrod;">Waiting for discharge</h6>
                                </div>
                                <div class="col-sm-3 mt-auto mb-auto">
                                    <div onclick="end_encounter(this)" id="{{ rec.pk }}" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                        <h6 class="mb-1" style="text-align: center; font-size: 14px; padding: 2px; margin: 0px; font-weight: bold; color: white;">{{ rec.action }}</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>

            <!-- Ambulance ORGS Modal -->
            <div id="ambulanceorgs" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h4 style="text-align: center; font-weight: bold; font-size: 14px;">Request ambulance organization to join the transfer</h4>
                            <div class="list-group card modals" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px;">
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Name</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6 style="color: #4679bd;">Alias</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6 style="color: #4679bd;">Zipcode</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Address</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6 style="color: #4679bd;">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for org in ambulance_orgs %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-3">
                                            <h6>{{ org.name }}</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6>{{ org.alias }}</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6>{{ org.zipcode }}</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6>{{ org.address }}</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <div id="{{ org.pk }}" onclick="pick_amb_org(this)" class="card options" style="width: 100%; background-color: #4679bd; border-radius: 32px;">
                                                <h6 style="text-align: center; color: white;">Request</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teams Modal -->
            <div id="ambteams" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h6 style="text-align: center; font-weight: bold; font-size: 14px;">Teams</h6>
                            <div class="list-group card modals" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px;">
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd">Tag</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd">Current location</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd">Status</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for care_team in teams %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6>{{ care_team.tag }}</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6>Random location</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: {{care_team.color }}">{{ care_team.status }}</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <div id="{{ care_team.pk }}" onclick="attr_team(this)" class="card options" style="width: 100%; background-color: #4679bd; border-radius: 32px;">
                                                <h6 style="text-align: center; color: white;">Assign team</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teams Modal -->
            <div id="hteams" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h6 style="text-align: center; font-weight: bold; font-size: 14px;">Teams</h6>
                            <div class="list-group card modals" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Tag</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Category</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Status</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 style="color: #4679bd;">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for care_team in teams %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center;">
                                        <div class="col-sm-3">
                                            <h6>{{ care_team.tag }}</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6>{{ care_team.category }}</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 style="color: {{care_team.color }}">{{ care_team.status }}</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <div id="{{ care_team.pk }}" onclick="attr_team(this)" class="card options" style="width: 100%; background-color: #4679bd; border-radius: 32px;">
                                                <h6 style="text-align: center; color: white;">Assign team</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body >
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'org/js/employees.js' %}"></script>   
</html>