{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
    </head>
    <body >
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-university" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.name }}</p>
                    <li>
                        <a href="/org/home">Home</a>
                    </li>
                    {% if request.user.organization.type != 3 %}
                    <li >
                        <a href="/org/home/Emergency-Request">Emergency Requests</a>
                    </li>
                    <li >
                        <a href="/org/home/Teams">Teams</a>
                    </li>
                    <li >
                        <a href="/org/home/Employees">Employees</a>
                    </li>
                    {% else %}
                    <li >
                        <a href="/org/home/Employees/Create">Register Employee</a>
                    </li>
                    <li class="active">
                        <a href="">Manage Employees</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/org/home/Organization">Organization</a>
                    </li>
                    <li>
                        <a onclick="alert('Under construction');">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                    {% if request.user.organization.organization_type != 3 %}
                    <p style="text-align: center; font-weight: bold; font-size: 14px;">
                        <a class="path" href="/org/home/">Home</a> -->
                        <a class="path" href="/org/home/Employees/">Employees</a> -->
                        <a class="path" href="/org/home/Employees/Manage/">Manage</a> -->
                        <a class="path_active" href="">{{ employee.employee_name }} {{ employee.employee_surname }}</a>
                    </p>
                    {% else %}
                    <p style="text-align: center; font-weight: bold; font-size: 14px;">
                        <a class="path" href="/org/home/">Home</a> -->
                        <a class="path" href="/org/home/Employees/Manage">Manage Employees</a> -->
                        <a class="path_active" href="">{{ employee.employee_name }} {{ employee.employee_surname }}</a>
                    </p>
                    {% endif %}

                    {% if request.user.organization.organization_type != 3 %}
                    
                    <div class="row" style="margin-bottom: 32px; width: 100%; height: 100vh;">
                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class=" card" style="padding: 8px; height: 100%; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Employee Profile</h5>
                                <div class="" style="padding: 8px; overflow: auto; height: 35vh;">
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Name</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ employee.name }} {{ employee.surname }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Department</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ employee.department }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Role</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ employee.role }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">ID</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ employee.identifier }}</strong></p>  
                                        </div>
                                    </div>
                                </div>

                                <h5 style="text-align: center; padding: 4px; margin-top: 16px; font-weight: bold;">Active teams</h5>

                                <div class="list-group" style="overflow:auto; height: 65vh; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                    {% for ct in care_teams_belong %}
                                    <a href="/org/home/Teams/Manage/{{ct.care_team_id.pk}}" class="list-group-item list-group-item-action flex-column align-items-start options">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 16px;">ID <strong>{{ ct.identifier.care_team_identifier }}</strong></h6>
                                        </div>
                                        <p class="mb-1" style="font-weight: bold; font-size: 14px;"><strong>{{ employee.name }} {{ employee.surname }}</strong> has a role of <strong>{{ employee.role }}</strong> on this team.</p>
                                        <small style="font-size: 12px;">Added on <strong>{{ ct.added }}</strong></small>
                                    </a>
                                    
                                    {% endfor %}
                                  </div>

                            </div>
                        </div>

                        <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px;">
                            <div class="card" style="padding: 8px; height: 100%; overflow: auto; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Management</h5>

                                <div onclick="alert('Under Construction')" class="card ml-auto mr-auto options" style=" padding: 16px; width: 192px; margin-top: 5%; background-color: #4679bd; border-radius: 32px;">
                                    <h6 style="text-align: center; font-weight: bold; color: white;">Manage Profile</h6>
                                </div>
            
                                <div data-toggle="modal" data-target="#teams" class="card ml-auto mr-auto options" style="padding: 16px; width: 192px; margin-top: 5%; background-color: #4679bd; border-radius: 32px;">
                                    <h6 style="text-align: center; font-weight: bold; color: white;">Add to team</h6>
                                </div>

                                <div onclick="alert('Under Construction')" class="card ml-auto mr-auto options" style="padding: 16px; width: 192px; margin-top: 5%; background-color: #4679bd; border-radius: 32px;">
                                    <h6 style="text-align: center; font-weight: bold; color: white;">Manage access and roles</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div style="margin-bottom: 32px; width: 100%; height: 100%;">
                        <div class=" card" style="padding: 16px; height: 100%; margin: 8px; margin-top: 32px; border-radius: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Employee Profile</h5>
                            <div class="" style="padding: 48px; overflow: auto; height: 60%;">
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-3">
                                        <p id="name">Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p><strong>{{ employee.name }} {{ employee.surname }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-3">
                                        <p id="name">Department</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p><strong>{{ employee.department }}</strong></p>  
                                    </div>
                                </div>  
                                
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-3">
                                        <p id="name">Role</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p><strong>{{ employee.role }}</strong></p>  
                                    </div>
                                </div>
                                
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-3">
                                        <p id="name">ID</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p><strong>{{ employee.identifier }}</strong></p>  
                                    </div>
                                </div>

                            </div>
                            

                            <div  onclick="alert('Under Construction');" class="card ml-auto mr-auto options" style=" padding: 16px; width: 192px; background-color: #4679bd; border-radius: 32px;">
                                <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">Manage Profile</h6>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <!-- Teams Modal -->
            <div id="teams" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" style="background-color: #F1F5F6;">
                            <h4 style="text-align: center;">Teams</h4>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Tag</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Category</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Active</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for care_team in care_teams %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3 mt-auto mb-auto">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ care_team.name }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ care_team.tag }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ care_team.category }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ care_team.is_active }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto">
                                            <div id="{{ care_team.pk }}" onclick="add_to_team(this)" class="card options ml-auto mr-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                <h6 style="text-align: center; margin: 0px; padding: 2px; font-size: 12px; font-weight: bold; color: white;">Add</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body >
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/hospital_team.js' %}"></script>   
    <script src="{% static 'org/js/employees.js' %}"></script>   
</html>