{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'call_centre/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/recent_activities.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_util.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-university" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;"> {{ request.user.organization.organization_name }}</p>
                    <li>
                        <a href="/org/home/">Home</a>
                    </li>
                    <li class="active">
                        <a href="">Emergency Requests</a>
                    </li>
                    <li >
                        <a href="/org/home/Teams">Teams</a>
                    </li>
                    <li >
                        <a href="/org/home/Employees">Employees</a>
                    </li>
                    <li>
                        <a href="/org/home/Organization">Organization</a>
                    </li>
                    <li>
                        <a onclick="alert('Under construction');">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">

                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; font-weight: bold; font-size: 14px">
                    <a class="path" href="/org/home/">Home</a> --> 
                    <a class="path" href="/org/home/Emergency-Request/">Emergency Request</a> -->
                    <a class="path_active" href="">New Emergency Session</a>
                </p>
                
                <div class="col-sm-16" style="padding: 32px;">
                    <div class="" style="padding: 8px;">
                        <h5 style="text-align: center; padding: 4px; margin-bottom: 16px; font-weight: bold;">Search patient</h5>
                        <form method="GET" action="" id="lookForPatient" style="text-align: center;">

                            {% if filters.name != None %}
                            <input class="test" type="text" name="name" placeholder="Name" value="{{ filters.name }}">
                            {% else %}
                            <input class="test" type="text" name="name" placeholder="Name">
                            {% endif %}

                            {% if filters.surname != None %}
                            <input class="test" type="text" name="surname" placeholder="Surname" value="{{ filters.surname }}">
                            {% else %}
                            <input class="test" type="text" name="surname" placeholder="Surname">
                            {% endif %}

                            {% if filters.bsn != None %}
                            <input class="test" type="text" name="bsn" placeholder="BSN" value="{{ filters.BSN }}">
                            {% else %}
                            <input class="test" type="text" name="bsn" placeholder="BSN">
                            {% endif %}

                            {% if filters.zipcode != None %}
                            <input class="test" type="text" name="zipcode" placeholder="Zipcode" value="{{ filters.zipcode }}">
                            {% else %}
                            <input class="test" type="text" name="zipcode" placeholder="Zipcode">
                            {% endif %}

                            <button style="background-color:#D14200; " class="btn btn-primary" type="submit">
                                <i style="background-color:#D14200;" class="fas fa-search"></i>
                            </button>
                        </form>
                            <div class="list-group card tables" style="margin-top: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Surname</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">BSN</h6>
                                        </div>
                                        <div class="col-sm-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Zipcode</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for pats in patients %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ pats.patient_name }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ pats.patient_surname }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ pats.patient_BSN }}</h6>
                                        </div>
                                        <div class="col-sm-2 mt-auto mb-auto" style="padding: 0px;">
                                            <h6 class="mb-1" style="padding: 0px; font-weight: bold; font-size: 14px;">{{ pats.patient_zipcode }}</h6>
                                        </div>
                                        <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px;">
                                            <div onclick="attr_patient_request_team({{ pats.pk }})" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                                <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 0px; padding: 2px;">Select Patient</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>

                            <div data-toggle="modal" data-target="#newPatient" class="card ml-auto mr-auto options" style="padding: 8px; width: 30%; margin-top: 1%; background-color: #4679bd; border-radius: 32px;">
                                <h6 style="text-align: center; margin-bottom: 4px; font-size: 20px; font-weight: bold; color: white;">+ New patient</h6>
                            </div>
                    </div>
                </div>
            </div>

            <!-- New Patient modal -->
            <div id="newPatient" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h5 style="text-align: center; font-weight: bold; padding: 4px; margin: 4px;">New patient form</h5>
                            <form method="POST" class="contact100-form validate-form">
                                {% csrf_token %}
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
                                    <span class="label-input100">NAME* (Required)</span>
                                    <p>{{ new_patient_form.patient_name }}</p>
                                </div>
                
                                <div class="wrap-input100 bg1 rs1-wrap-input100">
                                    <span class="label-input100">SURNAME </span>
                                    <p>{{ new_patient_form.patient_surname }}</p>
                                </div>

                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
                                    <span class="label-input100">BSN</span>
                                    <p>{{ new_patient_form.patient_BSN }}</p>
                                </div>
                
                                <div class="wrap-input100 bg1 rs1-wrap-input100">
                                    <span class="label-input100">BIRTH DATE </span>
                                    <p>{{ new_patient_form.patient_birthDate }}</p>
                                </div>

                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
                                    <span class="label-input100">GENDER</span>
                                    <p>{{ new_patient_form.patient_gender }}</p>
                                </div>
                
                                <div class="wrap-input100 bg1 rs1-wrap-input100">
                                    <span class="label-input100">COMMUNICATION LANGUAGE</span>
                                    <p>{{ new_patient_form.patient_communication_language }}</p>
                                </div>

                                <button class="btn btn-primary mr-auto ml-auto" style="background-color: #4679bd; border-radius: 32px; width: 30%; margin-top: 16px;">
                                    <span>
                                        Save
                                        <i class="fas fa-save" arial-hidden="true"></i>
                                    </span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/org/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
    <script src="{% static 'call_centre/js/call_centre.js' %}"></script> 
    <script src="{% static 'org/js/employees.js' %}"></script>   
</html>