{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_main.css' %}">

        <script src="/static/util/js/code_parsing.js"></script>

        <!-- <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/> -->
        <script src="http://{{internal_ip}}/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">            
            var key_id = "{{keyid}}";
            var user_related = "{{patient|safe}}"
            key_id = key_id.replace(/&quot;/g, '"');
            key_id = key_id.replace(/"/g, '');
            var updated = '{{updated|safe}}'
            var ep_json_id = '{{json_id|safe}}'
            var encounter = "{{encounter.pk|safe}}"
            var internal_ip = "{{internal_ip}}"
            var name = "{{organisation_name}}"
            var address = "{{organisation_address}}"
            var phone = "{{organisation_phone}}"
            var accepted_date = "{{ep_accepted_datetime}}"
            var start_datetime = "{{ep_start_datetime}}"
            var end_datetime = "{{ep_end_datetime}}"
            var pat_accepted = "{{ep.patient_accepted}}"
            
        </script>

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>
        <!--<script src="/static/keycloakjs/js/keycloak_js.js"></script>-->
    </head>
    <body onload="initKeycloak()">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-ambulance" style="height: 50%; width: 50%; margin-top: 42px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome {{ request.user.employee.name }} {{ request.user.employee.surname }}</p>
                    <li>
                        <a href="/ambulance/home/">Home</a>
                    </li>
                    <li >
                        <a href="/ambulance/home/Profile/">Profile</a>
                    </li>
                    <li class="active">
                        <a href="">Emergency Sessions</a>
                    </li>
                    <li >
                        <a href="/ambulance/home/Team">Teams</a>
                    </li>
                    <li >
                        <a onclick="alert('Under Construction')">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; margin-top: 32px; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/ambulance/home/">Home</a> -->
                    <a class="path" href="/ambulance/home/Emergency-Session/">Emergency Session</a> -->
                    <a class="path_active" href="">Encounter</a>
                </p>

                <div class="row" style="height: 100%; width: 100%;">

                    <div class="col-sm-6" style="min-width: 500px; height: 100vh; margin-left: auto; margin-right: auto;">
                        <div class="card" style="height: 12vh; padding: 8px; margin: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            {% if reqs|length > 0 %}
                            <h6 style="text-align: center; padding: 16px; font-size: 16px; font-weight: bold;">
                                <i class="fas fa-hospital"></i>
                                {{ reqs.0.org_requested.get_type_display }} requested !
                            </h6>
                            {% else %}                    
                            <div class="" style="padding: 8px;">
                                {% if ep.patient_accepted != True %}
                                <h6 id="pat_location" style="text-align: center; margin-bottom: 8px; margin-top: 2px; font-size: 16px;">Patient is located at: <strong>loading...</strong></h6>
                                <div onclick=patient_picked() class="card options mr-auto ml-auto" style="padding: 8px; width: 48%; background-color: #4679bd; border-radius: 32px;">
                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 16px; font-weight: bold; color: white;">
                                        <i class="fas fa-hand-holding-heart"></i>
                                        Patient picked up
                                    </h6>
                                </div>
                                {% else %}
                                <div data-toggle="modal" data-target="#hospitalORGS" class="card options mr-auto ml-auto" style="padding: 12px; width: 48%; margin-top: 2%; background-color: #4679bd; border-radius: 32px;">
                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 16px; font-weight: bold; color: white;">
                                        <i class="fas fa-hospital"></i>
                                        Request Hospital
                                    </h6>
                                </div>

                                {% endif %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="card" style="height: 88vh; overflow: auto; padding: 8px; margin: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">

                            {% if ep.updated %}
                            <div id="loader_ep" style="margin: auto;">
                                <div class="water"></div>
                                <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                            </div>

                            <form id="form" action="" class="contact100-form validate-form" style="display: none;">                                
                                <div class="wrap-input100 validate-input bg1" style="margin-top: 8px;">
                                    <span class="label-input100">Time of Arrival </span>
                                    {{ episode_of_care_form.time_of_arrival }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">Heart Rate (bpm)</span>
                                    {{ episode_of_care_form.heart_rate }}
                                </div>
                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Systolic (mmHg)</span>
                                    {{ episode_of_care_form.blood_pressure_systolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Diastolic (mmHg)</span>
                                    {{ episode_of_care_form.blood_pressure_diastolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Oxygen Saturation (%)</span>
                                    {{ episode_of_care_form.oxygen_saturation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Breathing Frequency (breathes per minute)</span>
                                    {{ episode_of_care_form.breathing_frequency }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Glucose (mmol/L)</span>
                                    {{ episode_of_care_form.glucose }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Usage of Coagulant Medicine</span>
                                    {{ episode_of_care_form.usage_of_coagulant_medicine }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">International Normalized Ratio</span>
                                    {{ episode_of_care_form.international_normalized_ratio }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Eyes</span>
                                    {{ episode_of_care_form.emv_score_eyes }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Motor</span>
                                    {{ episode_of_care_form.emv_score_motor }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Verbal</span>
                                    {{ episode_of_care_form.emv_score_verbal }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Airways</span>
                                    {{ episode_of_care_form.ABCDE_stability_airways }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Breathing</span>
                                    {{ episode_of_care_form.ABCDE_stability_breathing }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Circulation</span>
                                    {{ episode_of_care_form.ABCDE_stability_circulation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Disability</span>
                                    {{ episode_of_care_form.ABCDE_stability_disability }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Exposure</span>
                                    {{ episode_of_care_form.ABCDE_stability_exposure }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Physical Evaluation</span>
                                    {{ episode_of_care_form.physical_evaluation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Applied Medication</span>
                                    {{ episode_of_care_form.applied_medication }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Ambulance Remarks</span>
                                    {{ episode_of_care_form.ambulance_remarks }}
                                </div>

                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>

                            {% else %}
                            <form id="form" action="" class="contact100-form validate-form">                                
                                <div class="wrap-input100 validate-input bg1" style="margin-top: 8px;">
                                    <span class="label-input100">Time of Arrival </span>
                                    {{ episode_of_care_form.time_of_arrival }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">Heart Rate (bpm)</span>
                                    {{ episode_of_care_form.heart_rate }}
                                </div>
                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Systolic (mmHg)</span>
                                    {{ episode_of_care_form.blood_pressure_systolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Diastolic (mmHg)</span>
                                    {{ episode_of_care_form.blood_pressure_diastolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Oxygen Saturation (%)</span>
                                    {{ episode_of_care_form.oxygen_saturation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Breathing Frequency (breathes per minute)</span>
                                    {{ episode_of_care_form.breathing_frequency }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Glucose (mmol/L)</span>
                                    {{ episode_of_care_form.glucose }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Usage of Coagulant Medicine</span>
                                    {{ episode_of_care_form.usage_of_coagulant_medicine }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">International Normalized Ratio</span>
                                    {{ episode_of_care_form.international_normalized_ratio }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Eyes</span>
                                    {{ episode_of_care_form.emv_score_eyes }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Motor</span>
                                    {{ episode_of_care_form.emv_score_motor }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Verbal</span>
                                    {{ episode_of_care_form.emv_score_verbal }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Airways</span>
                                    {{ episode_of_care_form.ABCDE_stability_airways }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Breathing</span>
                                    {{ episode_of_care_form.ABCDE_stability_breathing }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Circulation</span>
                                    {{ episode_of_care_form.ABCDE_stability_circulation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Disability</span>
                                    {{ episode_of_care_form.ABCDE_stability_disability }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Exposure</span>
                                    {{ episode_of_care_form.ABCDE_stability_exposure }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Physical Evaluation</span>
                                    {{ episode_of_care_form.physical_evaluation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Applied Medication</span>
                                    {{ episode_of_care_form.applied_medication }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Ambulance Remarks</span>
                                    {{ episode_of_care_form.ambulance_remarks }}
                                </div>

                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                            {% endif %}

                            <!--
                            <form method="POST" class="contact100-form validate-form">
                                {% csrf_token %}
                                <div class="wrap-input100 validate-input bg1" style="margin-top: 8px;">
                                    <span class="label-input100">Time of Arrival </span>
                                    {{ episode_of_care_form.time_of_arrival }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">Heart Rate</span>
                                    {{ episode_of_care_form.heart_rate }}
                                </div>
                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Systolic</span>
                                    {{ episode_of_care_form.blood_pressure_systolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Blood Pressure Diastolic</span>
                                    {{ episode_of_care_form.blood_pressure_diastolic }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Oxygen Saturation</span>
                                    {{ episode_of_care_form.oxygen_saturation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">'Breathing Frequency</span>
                                    {{ episode_of_care_form.breathing_frequency }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Glucose</span>
                                    {{ episode_of_care_form.glucose }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Usage of Coagulant Medicine</span>
                                    {{ episode_of_care_form.usage_of_coagulant_medicine }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">International Normalized Ratio</span>
                                    {{ episode_of_care_form.international_normalized_ratio }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Eyes</span>
                                    {{ episode_of_care_form.emv_score_eyes }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Motor</span>
                                    {{ episode_of_care_form.emv_score_motor }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">EMV Score Verbal</span>
                                    {{ episode_of_care_form.emv_score_verbal }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Airways</span>
                                    {{ episode_of_care_form.ABCDE_stability_airways }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Breathing</span>
                                    {{ episode_of_care_form.ABCDE_stability_breathing }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Circulation</span>
                                    {{ episode_of_care_form.ABCDE_stability_circulation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Disability</span>
                                    {{ episode_of_care_form.ABCDE_stability_disability }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">ABCDE Stability Exposure</span>
                                    {{ episode_of_care_form.ABCDE_stability_exposure }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Physical Evaluation</span>
                                    {{ episode_of_care_form.physical_evaluation }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Applied Medication</span>
                                    {{ episode_of_care_form.applied_medication }}
                                </div>

                                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                                    <span class="label-input100">Ambulance Remarks</span>
                                    {{ episode_of_care_form.ambulance_remarks }}
                                </div>

                                <div class="container-contact100-form-btn">
                                    <button class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form> -->

                        </div>
                    </div>

                    <div class="col-sm-6" style="min-width: 500px; height: 100vh; margin-left: auto; margin-right: auto;">
                        <div class="card" style="height: 70vh; overflow: auto; padding: 2px; margin: 2px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Patient medical history</h5>
                            <div class="row" style="font-size: 12px;">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="name">Name</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>{{ encounter.patient.name }} {{ encounter.patient.surname }}</strong></p>  
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="name">Blood Type</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>{{ encounter.patient.blood_type }}</strong></p>  
                                        </div>    
                                    </div>                                    
                                </div>
                            </div>
                            <div id="loader" style="margin: auto;">
                                <div class="water"></div>
                                <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                            </div>
                            <div id="medical_records" style="display: none">
                                <h6 style="text-align: center; padding:4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Conditions</h6>
                                <div class="list-group card" style="margin: 4px; height: auto; overflow: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Condition</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Clinical status</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Body Site</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Severity</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <div id="condition_objects"></div>
                                </div>

                                <h6 style="text-align: center; padding: 4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Allergy Intolerance</h6>
                                <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Category</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Type</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">To</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Criticality</h6>
                                            </div>
                                            
                                        </div>
                                    </a>

                                    <div id="allergy_int_objects"></div>
                                </div>

                                <h6 style="text-align: center; padding: 4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Family member history</h6>
                                <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Relationship</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Gender</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Age</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Condition</h6>
                                            </div>
                                            
                                        </div>
                                    </a>

                                    <div id="fmh_objects"></div>      
                                </div>
                            </div>

                            <!--
                            {% if conditions %}
                            <h6 style="text-align: center; padding:2px; margin-top: 2px; font-size: 12px; font-weight: bold; color: black;">Conditions</h6>
                            <div class="list-group card" style="margin: 4px; height: auto; overflow: auto; max-height: 33%;">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Condition</h6>
                                        </div> 
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Clinical status</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Body Site</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Severity</h6>
                                        </div>
                                    </div>
                                </a>
                                    {% for cond in conditions %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ cond.get_condition_code_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ cond.get_condition_clinicalStatus_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ cond.get_condition_bodySite_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ cond.get_condition_severity_display }}</h6>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                            </div>
                            
                            {% else %}
                            <h6 style="text-align: center; padding: 2px; margin-top: 4px; font-size: 14px; font-weight: bold; color: black">Patient does not have any condition</h6>
                            {% endif %}

                            {% if allergies %}
                            <h6 style="text-align: center; padding: 2px; margin-top: 2px; font-size: 12px; font-weight: bold; color: black;">Allergy Intolerance</h6>
                            <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3" style="padding: 0px; margin: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Category</h6>
                                        </div> 
                                        <div class="col-sm-3" style="padding: 0px; margin: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Type</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px; margin: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">To</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px; margin: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Criticality</h6>
                                        </div>
                                        
                                    </div>
                                </a>

                                    {% for allerg in allergies %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px">
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ allerg.get_allergy_int_category_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ allerg.get_allergy_int_type_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ allerg.get_allergy_int_code_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ allerg.get_allergy_int_criticality_display }}</h6>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                
                            </div>

                            {% else %}
                            <h6 style="text-align: center; padding: 2px; margin-top: 4px; font-size: 14px; font-weight: bold; color: black;">Patient does not have any allergy or intolerance</h6>
                            {% endif %}
                            
                            {% if fmh %}
                            <h6 style="text-align: center; padding: 2px; margin-top: 4px; font-size: 12px; font-weight: bold; color: black;">Family member history</h6>
                            <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Relationship</h6>
                                        </div> 
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Gender</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Age</h6>
                                        </div>
                                        <div class="col-sm-3" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Deceased</h6>
                                        </div>
                                        
                                    </div>
                                </a>

                                    {% for history in fmh %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="row" style="text-align: center; padding: 0px;">
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ history.get_family_mh_relationship_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ history.get_family_mh_sex_display }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ history.family_mh_age }}</h6>
                                            </div>
                                            <div class="col-sm-3 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ history.family_mh_deceased|default_if_none:'Unknown' }}  </h6>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                
                            </div>

                            {% else %}
                            <h6 style="text-align: center; padding: 2px; margin-top: 4px; font-size:14px; font-weight: bold; color: black;">Patient does not have any family medical history</h6>
                            {% endif %}

                            --> 
                        </div>
                        <div class="card" style="margin: 4px; height: 30vh; box-shadow: 2px 2px 15px rgba(33,33,33,.2);"> 
                            <h5 style="text-align: center; padding: 2px; margin-top: 2px; font-weight: bold; color: black;">Emergencies</h5>
                            <div class="list-group card" style="margin: 4px; height: 100%;">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-4" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px;">Date</h6>
                                        </div>
                                        <div class="col-4" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px;">Status</h6>
                                        </div>
                                        <div class="col-4" style="padding: 0px">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px;">Action</h6>
                                        </div>
                                    </div>
                                </a>

                                <div style="overflow:auto;">
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px">
                                            <div class="col-4 mb-auto mt-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; padding:0px; font-size: 12px;">{{ encounter.date }}</h6>
                                            </div>
                                            <div class="col-4 mb-auto mt-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="color: green; padding:0px; font-weight: bold; font-size: 12px;">Active</h6>
                                            </div>
                                            <div class="col-4 mb-auto mt-auto" style="padding: 0px">
                                                <div onclick="retrieve({{ encounter.pk }})" class="options mr-auto ml-auto" style="width:112px; padding: 2px; background-color: #4679bd; border-radius: 32px;">
                                                    <h6 style="text-align: center; font-weight: bold; font-size: 12px; padding:2px; margin: 0px; color: white;">View</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>


                                    {% if encounters|length == 0 %}
                                        </div>
                                        <h6 style="text-align: center; padding: 16px; margin: auto; font-weight: bold; color: black;">No previous emergencies found</h6>
                                    {% else %}
                                        {% for encounter in encounters %}
                                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                                    <div class="col-4" style="padding: 0px">
                                                        <h6 class="mb-1" style="font-weight: bold; padding:0px; font-size: 12px;" >{{ encounter.date }}</h6>
                                                    </div>
                                                    <div class="col-4" style="padding: 0px">
                                                        <h6 class="mb-1" style="color: darkred; font-weight: bold; padding:0px; font-size: 12px;">Finalized</h6>
                                                    </div>
                                                    <div class="col-4" style="padding: 0px">
                                                        <div onclick="retrieve({{ encounter.pk }})" class="options ml-auto mr-auto" style="width:112px; padding: 2px; background-color: #4679bd; border-radius: 32px;">
                                                            <h6 style="text-align: center; font-weight: bold; font-size: 12px; padding:2px; margin: 0px; color: white;">View</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            
            <!-- Hospital ORGS -->
            <div id="hospitalORGS" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h5 style="text-align: center; font-weight: bold; padding: 4px; font-size: 14px;">Hospital Organizations</h5>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Alias</h6>
                                        </div>
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Address</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Zipcode</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for org in hospital_orgs %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.name }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.alias }}</h6>
                                        </div>
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.address }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.zipcode }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <div id="{{ org.pk }}" onclick="request_service(this)" class="card options mr-auto ml-auto" style="width: 100%; background-color: #4679bd; border-radius: 32px; padding: 0px;">
                                                <h6 class="mb-1" style="text-align: center; padding: 2px; margin: 0px; font-size: 14px; font-weight: bold; color: white;">Request</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <div id="loader">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Uploading record ...</h6>
                    </div>                
                  </div>
                </div>
              </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    <div data-dismiss="modal" onclick="location.href = '/ambulance/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                        <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'ambulance/js/ambulance.js' %}"></script>
    <script src="{% static 'ambulance/js/emergency_session.js' %}"></script>
    <script>
        function refresh() {
            // make Ajax call here, inside the callback call:
            $.ajax({
                type: 'POST',
                url: 'check_permission',
                data: {},
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function(data) {
                    if (data.permit == false){
                        alert("Your access has been revoked");
                        location.href="/ambulance/home/Emergency-Session/";
                    }
                }
            });
            setTimeout(refresh, 10000);
            // ...
        }
        // initial call, or just call refresh directly
        setTimeout(refresh, 5000);
    </script>
</html>