{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">

        <script src="/static/util/js/code_parsing.js"></script>

         <!-- <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/> -->
         <script src="http://{{internal_ip}}/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">            
            var key_id = "{{keyid}}";
            var encounter = "{{encounter.pk|safe}}"
            key_id = key_id.replace(/&quot;/g, '"');
            key_id = key_id.replace(/"/g, '');
            var internal_ip = "{{internal_ip}}"
        </script>

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>  

    </head>
    <body onload="initKeycloak()">
            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100%; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <div id="summary" class="row" style="height: 700px; width: 500px; margin: auto">
                    <div id="loader_ep" style="margin: auto;">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                    </div>
                    <!-- {% for ep in eps %}
                    <div id="summary" class="col-sm card" style="height: 700px; overflow:auto; margin: 4px; padding: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);"> -->
                        <!-- {% if ep.episode_of_care_tag == "Call Centre" %}
                            <div id="{{ ep.pk }}" style="padding: 16px;">
                                <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Organization</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Address</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                        </div>
                                    </div>
        
                                    <div class="row" style="">
                                        <div class="col-sm-5">
                                            <p style="font-size: 14px;">Phone</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px; margin-top: 8px;">
                                    <div class="col-sm-5">
                                        <p id="name">Last time seen well</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.last_time_seen_well|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Time of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.time_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Localion of the onset</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_of_the_onset|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Patient location</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.local_patient|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>

                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Who called</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.get_who_called_display|default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                                
                                <div class="row" style="font-size: 14px;">
                                    <div class="col-sm-5">
                                        <p id="name">Remarks</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p><strong>{{ ep.call_centre_remarks   |default_if_none:"-" }}</strong></p>  
                                    </div>
                                </div>
                            </div>

                            {% else %}
                                {% if ep.episode_of_care_tag == "Hospital" %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px;">
                                    <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name|default_if_none:"-" }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Time of arrival</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.time_of_arrival|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Heart rate</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.heart_rate|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Blood pressure Systolic | Diastolic</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.blood_pressure_systolic|default_if_none:"-" }} | {{ ep.blood_pressure_diastolic|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Oxygen Saturation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.oxygen_saturation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Breathing Frequency</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.breathing_frequency|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Glucose</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.glucose|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Coagulant medicine used</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.usage_of_coagulant_medicine|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">International normalized ratio</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.international_normalized_ratio|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">EMV Score eyes | motor | verbal</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.emv_score_eyes|default_if_none:"-" }} | {{ ep.emv_score_motor|default_if_none:"-" }} | {{ ep.emv_score_verbal|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">ABCDE Stability Airways | Breathing | Circulation | Disability | Exposure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ABCDE_stability_airways|default_if_none:"-" }} | {{ ep.ABCDE_stability_breathing|default_if_none:"-" }} | {{ ep.ABCDE_stability_circulation|default_if_none:"-" }} |
                                                {{ ep.ABCDE_stability_disability|default_if_none:"-" }} | {{ ep.ABCDE_stability_exposure|default_if_none:"-" }}
                                            </strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Physical evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.physical_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
    

                                    <div class="row" style="font-size: 14px; margin-top: 16px;">
                                        <div class="col-sm-5">
                                            <p id="name">Neurological evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.neurological_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Radiological imaging</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="row">
                                                <div data-target="#radImage" data-toggle="modal" class="card options" style="padding: 4px; width: 40%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                                        <i class="fas fa-hand-holding-heart"></i>
                                                        View image
                                                    </h6>
                                                </div>
                                                <div onclick="alert('Under Construction')" class="card options" style="padding: 4px; width: 40%; background-color: #4679bd; margin: auto; border-radius: 32px;">
                                                    <h6 style="text-align: center; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: white;">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                        Download
                                                    </h6>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image thrombus location</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_thrombus_location|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image aspects</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_aspects|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Image collateral score</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.image_collateral_score|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Infart core size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.infart_core_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Penumbra size</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.penumbra_size|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Procedure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.procedure|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                </div>

                                {% else %}
                                <div id="{{ ep.pk }}" style="display: none; padding: 16px">
                                        <div style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); border-radius: 16px; padding: 8px">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Organization</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_name }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Address</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_address }}, {{ ep.episode_of_care_managing_organization.organization_city }} | {{ ep.episode_of_care_managing_organization.organization_country }}</p>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <p style="font-size: 14px;">Phone</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p style="font-size: 14px; font-weight: bold;">{{ ep.episode_of_care_managing_organization.organization_telecom }}</p>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Time of arrival</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.time_of_arrival|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Heart rate</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.heart_rate|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Blood pressure Systolic | Diastolic</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.blood_pressure_systolic|default_if_none:"-" }} | {{ ep.blood_pressure_diastolic|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Oxygen Saturation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.oxygen_saturation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Breathing Frequency</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.breathing_frequency|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Glucose</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.glucose|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Coagulant medicine used</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.usage_of_coagulant_medicine|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">International normalized ratio</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.international_normalized_ratio|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">EMV Score eyes | motor | verbal</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.emv_score_eyes|default_if_none:"-" }} | {{ ep.emv_score_motor|default_if_none:"-" }} | {{ ep.emv_score_verbal|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">ABCDE Stability Airways | Breathing | Circulation | Disability | Exposure</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ABCDE_stability_airways|default_if_none:"-" }} | {{ ep.ABCDE_stability_breathing|default_if_none:"-" }} | {{ ep.ABCDE_stability_circulation|default_if_none:"-" }} |
                                                {{ ep.ABCDE_stability_disability|default_if_none:"-" }} | {{ ep.ABCDE_stability_exposure|default_if_none:"-" }}
                                            </strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Ambulance remarks</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.ambulance_remarks|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Physical evaluation</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.physical_evaluation|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-5">
                                            <p id="name">Applied medication</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p><strong>{{ ep.applied_medication|default_if_none:"-" }}</strong></p>  
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                            {% endif %} -->

                    <!-- </div>
                    {% endfor %} -->
                </div>    
            </div>
            
    </body>
    
    <script src="{% static 'ambulance/js/summary.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/ambulance_team.js' %}"></script>   
    <script src="{% static 'main/js/call_centre.js' %}"></script>   
</html>