{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-ambulance" style="height: 50%; width: 50%; margin-top: 42px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome {{ request.user.ambulance_team.ambulance_team_name }}</p>
                    <li >
                        <a href="/main/Ambulance-Team/">Home</a>
                    </li>
                    <li >
                        <a href="Profile">Profile</a>
                    </li>
                    <li >
                        <a href="Profile">Configurations</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #cdcdcd">
                <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                <span></span>
            </button>


            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6;">
                <i id="home_card" class="fas fa-first-aid" style=" width: 5%; height: 5%; margin-left: 24px; margin-top: 8px;"></i>
                <div class="row" style="margin: 24px;">

                        <div class="col-sm-6">
                            <div class="card" style="padding: 32px; box-shadow: 0 4px 8px #CED9E5;">
                                <div class="row">
                                    <div class="col-sm-6 card" style="padding: 16px; box-shadow: 0 4px 8px #CED9E5;">
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">{{ patient_profile.patient_name }}</p>
                                        <p>Patient Name</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Zipcode</p>
                                        <p>{{ patient_profile.patient_zipcode }}</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Address</p>
                                        <p>{{ patient_profile.patient_address }}</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Birth Date</p>
                                        <p>{{ patient_profile.patient_birthDate }}</p>
                                    </div>

                                    <div class="col-sm-6 card" style="padding: 16px; box-shadow: 0 4px 8px #CED9E5;">
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Emergency Contact Name</p>
                                        <p>{{ patient_profile.patient_contact_name }}</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Relationship</p>
                                        <p>{{ patient_profile.patient_contact_relationship }}</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Phone Number</p>
                                        <p>{{ patient_profile.patient_contact_telecom }}</p>
                                        <p style="margin: 0px; font-size: 14px; font-weight: bold;">Communication Language</p>
                                        <p>{{ patient_profile.patient_contact_communication_language }}</p>
                                    </div>
                                </div>
                                <h1 style="font-size: 16px; margin-top: 6px;">Last time updated -> {{patient_profile.patient_lasttime_updated}}</p>

                            </div>
                            <div class="card" style="padding: 32px; margin-top: 8px; box-shadow: 0 4px 8px #CED9E5;">
                                <!--<button data-toggle="modal" data-target="#teamsForEmergency" class="btn-primary btn" style="background-color: #D14200; width: 11%; margin: auto;"><i class="fas fa-hand-holding-heart"></i></button> -->
                                {% if teams_involved|length > 1 %}
                                <h5 style="text-align: center; padding: 8px; margin-bottom: 8px; font-weight: 700;">Hospital Called</h5>
                                {% else %}
                                <h5 style="text-align: center; padding: 8px; margin-bottom: 8px; font-weight: 700;">Call Hospital</h5>
                                <button onclick="call_hospital()" class="btn-primary btn" style="background-color: #D14200; width: 11%; margin: auto;"><i class="fas fa-hand-holding-heart"></i></button>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card" style="padding: 32px; box-shadow: 0 4px 8px #CED9E5;">
                                <h5 style="text-align: center;  margin-bottom: 4px; font-weight: bold;">Patient medical history</h5>
                                <button data-toggle="modal" data-target="#patientHistory" class="btn-primary btn" style="background-color: #D14200; width: 10%; margin: auto;"><i class="fas fa-file-medical"></i></button>
                                {% if encounters|length > 1 %} 
                                <h5 style="text-align: center; margin-top: 16px; margin-bottom: 4px; font-weight: bold;">Previous emergencies</h5>
                                <button data-toggle="modal" data-target="#patientHistory" class="btn-primary btn" style="background-color: #D14200; width: 10%; margin: auto;"><i class="fas fa-file-medical"></i></button>
                                {% endif %}
                            </div>
                            <div class="card" style="padding: 32px; margin-top: 8px; box-shadow: 0 4px 8px #CED9E5;">
                                <h5 style="text-align: center; padding: 2px; margin-bottom: 5px; font-weight: 550;">Episode Of Care</h5>
                                <p style="text-align: center;">{{ episode_of_care.episode_of_care_start_datetime }}</p>
                                <form method="POST" style="margin: 2px; box-shadow: 0 3px 4px 2px darkred;" id="call_centre_remarks">
                                    {% csrf_token %}
                                    {{ eoc_form.as_p }}
                                    <button style="background-color: #D14200;" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>

            </div>

            <!-- Patient History Modal -->
            <div class="modal fade" id="patientHistory">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border card">
                    <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 20px;">{{ patient_profile.patient_name }} medical history</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 18px;">
                        <div class="card" style="border-radius: 16px;">
                            
                            <h5 style="text-align: center; font-weight: bold;">Medications<h5>
                            {% if medications|length > 0 %}
                             {% for med in medications %}
                                <p style="font-size: 15px; font-weight: 500; padding-left: 6px; padding: 2px;">Took {{ med.medication_amount }} of {{ med.medication_note }} since 
                                {{ med.medication_start_date }} till {{ med.medication_expiration_date }}</p>
                             {% endfor %}
                            {% else %}
                            <p style="font-size: 16px; font-weight: 500; text-align: center;">None</p>
                            {% endif %}
                            
                            <h5 style="text-align: center; margin-top: 4px; font-weight: bold;">Allergy Intolerance<h5>
                            {% if allergy_intolerance|length > 0 %}
                             {% for alerg in allergy_intolerance %}
                                <p style="font-size: 15px; font-weight: 500; padding-left: 6px; padding: 2px;">Allergy Intolerance to {{alerg.get_allergy_int_code_display}}, the allergy is {{alerg.get_allergy_int_clinicalStatus_display}}
                                and the reaction consists of {{ alerg.allergy_int_reaction }}</p>
                             {% endfor %}
                            {% else %}
                            <p style="font-size: 16px; font-weight: 500; text-align: center;">None</p>
                            {% endif %}
                            
                            <h5 style="text-align: center; margin-top: 4px; font-weight: bold;">Family Member History<h5>
                            {% if family_member_history|length > 0 %}
                                {% for item in family_member_history %}
                                <div style="border: 1px solid black; border-radius: 16px; margin: 4px;">
                                    <p style="font-size: 15px; font-weight: 500; padding-left: 6px; padding: 2px;">{{ item.family_mh_name }} is {{ patient_profile.patient_name }}'s {{ item.family_mh_relationship }}, born in {{ item.family_mh_born }}</p>                                    
                                </div>
                                {% endfor %}
                            {% else %}
                            <p style="font-size: 16px; font-weight: 500;  margin: 0px; text-align: center;">None</p>
                            {% endif %}
                            
                            <h5 style="text-align: center; margin-top: 4px; font-weight: bold;">Emergencies<h4></h4>
                            {% if encounters|length > 1 %}
                            <p style="font-size: 18px; font-weight: 500; padding-left: 6px; margin: 0px; text-align: center;">Check previous emergencies</p>
                            {% else %}
                            <p style="font-size: 18px; font-weight: 500; padding-left: 6px; margin: 0px; text-align: center;">None</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href = ''">Dismiss</button>
                    </div>
                    
                </div>
                </div>
            </div>


            <!-- Available teams modal -->
            <div class="modal fade" id="teamsForEmergency">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border card">
                    <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 20px;">Select the team you want to add to this emergency session.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 18px;">
                        <div class="card" style="border-radius: 16px;">
                            <h1>Teams</h1>
                            <table id="available_Teams_Table" class="tab" style="margin: 8px; width: 100%;">
                                <tr>
                                    <th>Team</th>
                                    <th>Tag</th>
                                    <th>Action</th>
                                </tr>
                                {% for item in active_teams %}
                                <tr>
                                    <td> {{ item.care_team_name }}</td>
                                    <td> {{ item.care_team_tag }}</td>
                                    <td>
                                        <button id='{{ item.pk }}' onclick='select_team(this)' class='btn'><i class="fas fa-plus-circle"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href = ''">Dismiss</button>
                    </div>
                    
                </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    <div data-dismiss="modal" onclick="location.href = '/ambulance/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                        <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
    <script src="{% static 'main/js/ambulance_team.js' %}"></script>   
</html>