{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/recent_activities.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-ambulance" style="height: 50%; width: 50%; margin-top: 42px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome {{ request.user.employee.name }} {{ request.user.employee.surname }}</p>
                    <li>
                        <a href="/ambulance/home/">Home</a>
                    </li>
                    <li>
                        <a href="/ambulance/home/Profile/">Profile</a>
                    </li>
                    <li>
                        <a href="/ambulance/home/Emergency-Session">Emergency Sessions</a>
                    </li>
                    <li class="active">
                        <a href="">Teams</a>
                    </li>
                    <li >
                        <a onclick="alert('Under Construction')">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; margin-top: 32px; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/ambulance/home/">Home</a> -->
                    <a class="path" href="/ambulance/home/Team/" >Teams</a> -->
                    <a class="path_active" href="" >Team</a>
                </p>

                <div class="row" style="margin-bottom: 32px; overflow: auto; width: 100%; height: 100vh;">
                    <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px; margin-right: auto; margin-left: auto;">
                        <div class="card" style="padding: 8px; height: 100%; margin: 8px; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Team details</h5>
                            <div style="overflow: auto; height: 40vh; overflow: auto;">
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Name</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ care_team.name }}</strong></p>  
                                        </div>
                                    </div>
                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Tag</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ care_team.tag }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Category</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ care_team.category }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Team ID</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ care_team.identifier }}</strong></p>  
                                        </div>
                                    </div>

                                    <div class="row" style="font-size: 14px;">
                                        <div class="col-sm-4">
                                            <p id="name">Created</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{ care_team.start_datetime|date:'d/m/Y' }}</strong></p>  
                                        </div>
                                    </div>
                            </div>
                            
                            <h5 style="text-align: center; padding: 4px; margin-top: 8px; font-weight: bold;">Participants</h5>
                            
                            <div class="list-group card" style="height: 60vh; overflow: auto; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                {% for part in participants %}
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start options">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 16px;">{{ part.participant_id.role }}</h6>
                                    </div>
                                    <p class="mb-1" style="font-weight: bold; font-size: 14px;">{{ part.participant_id.name }} {{ part.participant_id.surname }}</p>
                                    <small style="font-size: 12px;">Added on <strong>{{ part.added_date|date:'d/m/Y H:i:s' }}</strong></small>
                                </a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 ml-auto mr-auto" style="min-width: 500px; margin-right: auto; margin-left: auto;">
                        <div class="card" style="padding: 8px; height: 100vh; overflow: auto; margin: 8px; border-radius: 16px; box-shadow: 0 0 8px #CED9E5;">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Activities</h5>
                            <ul class="timeline" style="height: 100%;">
                                <li class="">
                                    <div class="timeline-badge">
                                      <a><i class="fa fa-circle" id=""></i></a>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading" style="padding: 8px;">
                                            <h5 class="mb-1" style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 16px;">Team created</h5>
                                        </div>
                                        <div class="timeline-footer">
                                            <p class="text-right" style="color: lightslategray; font-size: 12px;">{{ care_team.start_datetime|date:'d/m/Y H:i:s'  }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% for act in activities %}
                                    <li class="{{ act.side }}">
                                        <div class="timeline-badge">
                                          <a><i class="fa fa-circle" id=""></i></a>
                                        </div>
                                        <div class="timeline-panel" style="padding: 8px;">
                                            <div class="timeline-heading">
                                                <h5 class="mb-1" style="color: #4679bd; font-weight: bold; padding: 0px; font-size: 16px">{{ act.title }}</h5>
                                                <h6 class="mb-1" style="lightslategray; padding: 0px; font-size: 14px;">{{ act.message }}</h6>
                                            </div>
                                            <div class="timeline-footer">
                                                <p class="text-right" style="color: lightslategray; font-size: 12px; margin: 0px;">{{ act.activity_date|date:'d/m/Y H:i:s' }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                    <div data-dismiss="modal" onclick="location.href = '/ambulance/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                        <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>
</html>