body{background-image: url("../images/back_amc.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1.0;

}
  html,body{
    height: 100%;
    overflow: auto;
    padding-top: 3%;
  }
 
  .login-container{
    position: relative;
    width: 400px;
    height: 600px;
    margin: 40px auto;
    margin-top: 96px;
    padding: 20px 40px 40px;
    background-size: cover;
    background-color: #F1F5F6;
    text-align: center;

    border: 3px solid #003741;
}   

.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 5.5px;left: 0;
    background-color: #CED9E5;
    z-index: -2;
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    border: 3px solid #003741;

}

.login-container::after{
    top: 7px;
    z-index: -3;
    height: 100%;
    background-color: #CED9E5;
    -webkit-transform: rotateZ(-3deg);
     -moz-transform: rotateZ(-3deg);
      -ms-transform: rotateZ(-3deg);

}
 
  .avatar{
    content: "";
    position: relative;
    width: 300px; height: 250px;
    margin: 10px auto 30px;
    border-radius: 5%;
    border: 4px solid #003741;
    background-image: url("../images/amsterdam_umc.png");
    background-size: 90%;
    background-position:  center;
    background-repeat: no-repeat;
    background-color: #CED9E5;
}
 
  .form-box input{
    padding: 1px;
    text-align: center;
    height:24px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    transition:0.2s ease-in-out;
  }
 
  .form-box input:focus{
    outline: 0;
    background-color: #003741;
    border-color: #D14200;
  }
  
  .form-box input[type="text"]{
    background-color: #CED9E5;
    margin-top: 4px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    color: black;
    font-family: sans-serif;
  }
 
  .form-box input[type="password"]{
    background-color: #CED9E5;
    margin-top: 4px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
  }
 
  .form-box button.login{
      border-radius: 8px;
      border: 2px solid #003741;
      margin-top:36px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 4px 8px;
      background-color: #CED9E5;
      font-size: 12px;
      color: #003741;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .form-box button.login:hover{
    border-color: #D14200;
    background-color: #D14200;
    color: #CED9E5;
  }
  
  button.signup{
    border-radius: 8px;
    border: 2px solid #003741;
    margin-top:12px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 8px;
    background-color: #CED9E5;
    font-size: 12px;
    color: #003741;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

button.signup:hover{
  border-color: #D14200;
  background-color: #D14200;
  color: #CED9E5;
}

/* Header CSS for every page */
.header {
  position: fixed;
  top: 0;
  width:100%;
  text-align:center;
  height: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader {
  height: 82px; 
  width: 240px;
  border-radius: 28px; 
  display:inline-block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader:hover{
  -webkit-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
}

