
/*form styles*/
#msform {
  width: 400px;
  height: 600px;
	text-align: center;
	position: absolute;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
  width: 85%;
  height: 85%;
  overflow: auto;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, button #msform textarea {
  border-bottom: 2px solid #003741;
  background-color: white;
  border-radius: 0px;
	width: 100%;
	font-family: sans-serif;
	color: #2C3E50;
	font-size: 13px;
}

#msform input:hover{
  border-bottom: 2px solid #D14200;
  background-color: #CED9E5;
}

#msform button:hover{
  border-bottom: 2px solid #D14200;
  background-color: #CED9E5;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  border-radius: 16px;
  background: #003741;
  font-size: 14px;
	font-weight: 600;
  color: white;
  text-align: center;
	cursor: pointer;
  margin: 16px 5px;
  margin-top: 8px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #D14200;
  border-bottom: 0;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #003741;
	margin-bottom: 16px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #003741;
	text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #003741;
	color: white;
}

label{
  float: left;
  margin-top: 16px;
  margin-bottom: 0;
  color: #003741;
  font-size: 14px;
  font-weight: 500;
}


body{background-image: url("../images/back_amc.jpg");
    background-size: 100% 100%;
    opacity: 1.0;}
    html,body{
        position: relative;
        height: 100%;
        overflow: auto;
        padding-top: 3%;
    }
   
    .login-container{
        position: relative;
        width: 500px;
        height: 800px;
        margin: 80px auto;
        padding: 20px 40px 40px;
        background-size: cover;
        background-color: #F1F5F6;
        text-align: center;
   
        border: 3px solid #003741;
    }   
   
    .login-container::before,.login-container::after{
        content: "";
        position: absolute;
        width: 100%;height: 100%;
        top: 5.5px;left: 0;
        background-color: #CED9E5;
        z-index: -2;
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        border: 3px solid #003741;
   
    }
   
    .login-container::after{
        top: 7px;
        z-index: -3;
        height: 100%;
        background-color: #CED9E5;
        -webkit-transform: rotateZ(-3deg);
         -moz-transform: rotateZ(-3deg);
          -ms-transform: rotateZ(-3deg);
   
    }
   
    .avatar{
        content: "";
        width: 280px;height: 250px;
        margin: 10px auto 30px;
        border-radius: 5%;
        border: 4px solid goldenrod;
        background-image: url("../images/amsterdam_umc.png");
        background-size: 90%;
        background-position:  center;
        background-repeat: no-repeat;
        background-color: lightblue;
    }
   
    .form-box input{
      width: 100%;
      padding: 4px;
      text-align: center;
      height:30px;
      border: none;
      border-bottom: 2px solid goldenrod;
      background: goldenrod;
      transition:0.2s ease-in-out;
    }
   
    .form-box input:focus{
      outline: 0;
      background: #eee;
      color: white;
    }
   
    .form-box input[type="text"]{
      background-color: transparent;
      font-size: 14px;
      color: white;
      font-weight: bold;
      font-family: sans-serif;
    }
   
    .form-box input[type="password"]{
      border-radius: 6px 6px 5px 5px;
      margin-top: 5px;
      background-color: transparent;
      font-size: 16px;
      color: white;
      font-weight: bold;
      font-family: sans-serif;
    }
   
    .form-box button.login{
        border-radius: 6px 6px 5px 5px;
        border: 2px solid #ccc;
        margin-top:15px;
        padding: 8px 18px;
        background-color: goldenrod;
        font-size: 16px;
        color: black;
        font-weight: bold;
        font-family: sans-serif;
    }
    
/* Header CSS for every page */
.header {
  position: fixed;
  top: 0;
  width:100%;
  text-align:center;
  height: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader {
  height: 82px; 
  width: 240px;
  border-radius: 28px; 
  display:inline-block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader:hover{
  -webkit-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
}

    