{% load static %}
<!-- Header -->
<div class="header">
    <div class="imgheader">
        <a><img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 140%; width:  100%; align-items: center;"></a>
    </div>
</div>