.options{
    box-shadow: 2px 2px 15px rgba(33,33,33,.2); 
}
.options:hover {
    box-shadow: 2px 2px 8px #D14200;
}

.options:active {
    background-color: #CED9E5;
}

.ep_card{
    box-shadow: 2px 2px 15px rgba(33,33,33,.2); 
}
.ep_card:hover {
    box-shadow: 2px 2px 4px 4px #4679bd;
}

.ep_card:active {
    background-color: #CED9E5;
    color: #CED9E5;
}

.path {
    color: black;
}

.path:hover {
    color: #D14200;
}

.path_active {
    color: #D14200;
    text-decoration: underline;
}

.modals {
    padding : 0px;
}
.modals h6{
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
}