{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/loader.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'call_centre/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/recent_activities.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/form_util.css' %}">

        <script src="/static/util/js/code_parsing.js"></script>
        
        <!-- <script src="http://{{internal_ip}}:8181/auth/js/keycloak.js"/> -->
        <script src="http://{{internal_ip}}/auth/js/keycloak.js"/>
        <script></script>

        <script type="text/javascript">            
            var key_id = "{{keyid}}";
            var user_related = "{{patient|safe}}"
            key_id = key_id.replace(/&quot;/g, '"');
            key_id = key_id.replace(/"/g, '');
            var updated = '{{updated|safe}}'
            var ep_json_id = '{{json_id|safe}}'
            var encounter = "{{encounter.pk|safe}}"
            var internal_ip = "{{internal_ip}}"
            var name = "{{organisation_name}}"
            var address = "{{organisation_address}}"
            var phone = "{{organisation_phone}}"
            var accepted_date = "{{ep_accepted_datetime}}"
            var start_datetime = "{{ep_start_datetime}}"
            var end_datetime = "{{ep_end_datetime}}"
        </script>

        <script src="/static/sse/js/sjcl.js"></script>
        <script src="/static/sse/js/sse.js"></script>
        <!--<script src="/static/keycloakjs/js/keycloak_js.js"></script>-->       
    </head>
    <body onload="initKeycloak()">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-phone-square" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome, {{ request.user.employee.name }} {{ request.user.employee.surname }}</p>
                    <li>
                        <a href="/call_centre/home/">Home</a>
                    </li>
                    <li >
                        <a href="/call_centre/home/Profile/">Profile</a>
                    </li>
                    <li >
                        <a onclick="start_emergency_session()">Start Emergency Session</a>
                    </li>
                    <li class="active">
                        <a href="">Emergency Sessions</a>
                    </li>
                    <li >
                        <a onclick="alert('Under Construction')">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>


                <p style="text-align: center; margin-top: 32px; font-weight: bold; font-size: 14px;">
                    <a class="path" href="/call_centre/home/">Home</a> -->
                    <a class="path" href="/call_centre/home/Emergency-Session/">Emergency Session</a> -->
                    <a class="path_active" href="">Encounter</a>
                </p>

                <div class="row" style="height: 100%; width: 100%;">

                    <div class="col-sm-6" style="min-width: 500px; height: 100vh; margin-right: auto; margin-left: auto; padding: 8px;">
                        <div class="card" style="padding: 8px; margin: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2); height: 8vh">
                            {% if reqs|length > 0 %}
                            <h6 style="text-align: center; padding: 16px; font-size: 16px; font-weight: bold; ">
                                {% if reqs.0.org_requested.type == 2 %}
                                <i class="fas fa-ambulance"></i>
                                {% else %}
                                <i class="fas fa-hospital"></i>
                                {% endif %}
                                {{ reqs.0.org_requested.get_type_display }} requested !
                            </h6>
                            {% else %}
                            <div class="row" style="padding: 8px;">
                                <div class="col-sm-6">
                                    <div data-toggle="modal" data-target="#ambulanceORGS" class="card options" style="padding: 8px; width: 100%; background-color: #4679bd; border-radius: 32px;">
                                        <h6 style="text-align: center; font-size: 16px; font-weight: bold; color: white; margin: auto; padding: 0px;">
                                            <i class="fas fa-ambulance"></i>
                                            Request Ambulance
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div data-toggle="modal" data-target="#hospitalORGS" class="card options" style="padding: 8px; width: 100%; background-color: #4679bd; border-radius: 32px;">
                                        <h6 style="text-align: center; margin-bottom: 4px; font-weight: bold; color: white; margin: auto; padding: 0px;">
                                            <i class="fas fa-hospital"></i>
                                            Request Hospital
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="card" style="height: 92vh; padding: 32px; overflow: auto; margin: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">

                            {% if ep.updated %}
                            <div id="loader_ep" style="margin: auto;">
                                <div class="water"></div>
                                <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                            </div>

                            <form id="form" class="contact100-form validate-form" action="" style="display: none">        
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">LAST TIME SEEN WELL </span>
                                    <input id="last_time_seen_well" class="input100" name="last_time_seen_well" placeholder="Time format 'hh:mm'"></input>
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">TIME OF THE ONSET </span>
                                    <input id="time_of_the_onset" class="input100" name="time_of_the_onset" placeholder="Time format 'hh:mm'"></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1 ">
                                    <span class="label-input100">LOCATION OF THE ONSET </span>
                                    <input id="local_of_the_onset" class="input100" name="local_of_the_onset" placeholder="Enter location..."></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">PATIENT'S LOCATION </span>
                                    <input id="patient_location" class="input100" name="patient_location" placeholder="Enter address, number, zipcode..."></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">WHO CALLED</span>
                                    <select id="who_called" name="who_called">
                                        <option value="unknown">Unknown</option>
                                        <option value="patient">Patient</option>
                                        <option value="relative">Relative</option>                              
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                
                                <div class="wrap-input100 validate-input bg0">
                                    <span class="label-input100">REMARKS</span>
                                    <textarea id="call_centre_remarks" class="input100" name="call_centre_remarks" placeholder="Enter remarks..."></textarea>                        
                                </div>
                
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>

                            {% else %}
                            <form id="form" class="contact100-form validate-form" action="">        
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">LAST TIME SEEN WELL </span>
                                    <input class="input100" name="last_time_seen_well" placeholder="Time format 'hh:mm'"></input>
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">TIME OF THE ONSET </span>
                                    <input class="input100" name="time_of_the_onset" placeholder="Time format 'hh:mm'"></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1 ">
                                    <span class="label-input100">LOCATION OF THE ONSET </span>
                                    <input class="input100" name="local_of_the_onset" placeholder="Enter location..."></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">PATIENT'S LOCATION </span>
                                    <input class="input100" name="patient_location" placeholder="Enter address, number, zipcode..."></input>
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">WHO CALLED</span>
                                    <select id="who_called" name="who_called">
                                        <option value="unknown">Unknown</option>
                                        <option value="patient">Patient</option>
                                        <option value="relative">Relative</option>                              
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                
                                <div class="wrap-input100 validate-input bg0">
                                    <span class="label-input100">REMARKS</span>
                                    <textarea class="input100" name="call_centre_remarks" placeholder="Enter remarks..."></textarea>                        
                                </div>
                
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                            <!--
                            <form id="form" class="contact100-form validate-form">
                                {% csrf_token %}
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">LAST TIME SEEN WELL </span>
                                    {{ episode_of_care_form.last_time_seen_well }}
                                </div>
                                
                                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                                    <span class="label-input100">TIME OF THE ONSET </span>
                                    {{ episode_of_care_form.time_of_the_onset }}
                                </div>

                                <div class="wrap-input100 validate-input bg1 ">
                                    <span class="label-input100">LOCATION OF THE ONSET </span>
                                    {{ episode_of_care_form.local_of_the_onset }}
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">PATIENT'S LOCATION </span>
                                    {{ episode_of_care_form.local_patient }}
                                </div>

                                <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">WHO CALLED</span>
                                    {{ episode_of_care_form.who_called }}
                                </div>
                
                                <div class="wrap-input100 validate-input bg0">
                                    <span class="label-input100">REMARKS</span>
                                    {{ episode_of_care_form.call_centre_remarks }}
                                </div>
                
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="contact100-form-btn options" style="background-color: #4679bd; border-radius: 32px;">
                                        <span>
                                            Save
                                            <i class="fas fa-save" arial-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                            -->
                        </div>
                    </div>

                    <div class="col-sm-6" style="min-width: 500px; height: 100vh; margin-left: auto; margin-right: auto; padding: 8px">
                        <div class="card" style="height: 75vh; overflow: auto; padding: 4px; margin: 4px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 4px; margin-top: 4px; font-weight: bold;">Patient medical history</h5>
                            <div class="row" style="font-size: 12px;">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="name">Name</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>{{ encounter.patient.name }} {{ encounter.patient.surname }}</strong></p>  
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="name">Blood Type</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>{{ encounter.patient.blood_type }}</strong></p>  
                                        </div>    
                                    </div>                                    
                                </div>
                            </div>                            
                            <div id="loader" style="margin: auto;">
                                <div class="water"></div>
                                <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Loading records ...</h6>
                            </div>
                            <div id="medical_records" style="display: none">
                                <h6 style="text-align: center; padding:4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Conditions</h6>
                                <div class="list-group card" style="margin: 4px; height: auto; overflow: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Condition</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Clinical status</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Body Site</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Severity</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <div id="condition_objects"></div>
                                </div>

                                <h6 style="text-align: center; padding: 4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Allergy Intolerance</h6>
                                <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Category</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Type</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">To</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px; margin: 0px;">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px">Criticality</h6>
                                            </div>
                                            
                                        </div>
                                    </a>

                                    <div id="allergy_int_objects"></div>
                                </div>

                                <h6 style="text-align: center; padding: 4px; margin-top: 8px; font-size: 12px; font-weight: bold; color: black;">Family member history</h6>
                                <div class="list-group card" style="margin: 4px; overflow: auto; height: auto; max-height: 33%;">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Relationship</h6>
                                            </div> 
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Gender</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Age</h6>
                                            </div>
                                            <div class="col-3" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Condition</h6>
                                            </div>
                                            
                                        </div>
                                    </a>

                                    <div id="fmh_objects"></div>      
                                </div>
                            </div>                                
                        </div>
                        <div class="card" style="margin: 4px; height: 25vh; overflow: auto; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                            <h5 style="text-align: center; padding: 2px; margin-top: 2px; font-weight: bold; color: black;">Emergencies</h5>
                            <div class="list-group card" style="margin: 4px; height: 100%;">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-4" style="padding: 0px">
                                            <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Date</h6>
                                        </div> 
                                        <div class="col-4" style="padding: 0px">
                                            <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Status</h6>
                                        </div>
                                        <div class="col-4" style="padding: 0px">
                                            <h6 class="mb-1" style="color: #4679bd; font-weight: bold; font-size: 12px; padding: 0px; margin: 0px;">Action</h6>
                                        </div>
                                    </div>
                                </a>

                                <div style="overflow:auto; height: 100%;">
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 12px; padding: 0px;">{{ encounter.date }}</h6>
                                            </div>
                                            <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="color: green; font-weight: bold; font-size: 12px; padding: 0px;">Active</h6>
                                            </div>
                                            <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                <div class="mr-auto ml-auto" style="width:112px; padding: 2px; background-color: gray; border-radius: 32px;">
                                                    <h6 style="text-align: center; font-weight: bold; font-size: 12px; padding: 2px; color: white; margin: 0px;">View</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                
                                    {% if encounters|length == 0 %}
                                        </div>
                                        <h6 style="text-align: center; padding: 16px; font-size: 14px; font-weight: bold; color: black;">No previous emergencies found</h6>
                                    {% else %}
                                        {% for encounter in encounters %}
                                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                                    <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                        <h6 class="mb-1" style="font-weight: bold; padding: 0px; font-size: 12px;">{{ encounter.date }}</h6>
                                                    </div>
                                                    <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                        <h6 class="mb-1" style="color: darkred; font-weight: bold; font-size: 12px; padding: 0x;">Finalized</h6>
                                                    </div>
                                                    <div class="col-4 mt-auto mb-auto" style="padding: 0px">
                                                        <div onclick="retrieve({{ encounter.pk }})" class="options mr-auto ml-auto" style="width:112px; padding: 2px; background-color: #4679bd; border-radius: 32px;">
                                                            <h6 style="text-align: center; font-weight: bold; font-size: 12px; color: white; margin: 0px; padding: 2px;">View</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                
                                </div>
                        </div>
                    </div>  
                </div>
            </div>

            </div>

            <!-- Hospital ORGS -->
            <div id="hospitalORGS" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h5 style="text-align: center; font-weight: bold; padding: 4px; font-size: 14px;">Hospital Organizations</h5>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Alias</h6>
                                        </div>
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Address</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Zipcode</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for org in hospital_orgs %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.name }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.alias }}</h6>
                                        </div>
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.address }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.zipcode }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <div id="{{ org.pk }}" onclick="request_service(this)"  class="card options mr-auto ml-auto" style="width: 100%; background-color: #4679bd; border-radius: 32px; padding: 0px;">
                                                <h6 class="mb-1" style="text-align: center; padding: 2px; font-size: 14px; font-weight: bold; color: white; margin: 0px;">Request</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ambulance ORGS -->
            <div id="ambulanceORGS" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: gray;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h5 style="text-align: center; font-weight: bold; padding: 4px; font-size: 14px;">Ambulance Organizations</h5>
                            <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Name</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Alias</h6>
                                        </div>
                                        <div class="col-3" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Address</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Zipcode</h6>
                                        </div>
                                        <div class="col-2" style="padding: 0px;">
                                            <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;  margin: 0px">Action</h6>
                                        </div>
                                    </div>
                                </a>
                                {% for org in ambulance_orgs %}
                                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1"  style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.name }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1"  style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.alias }}</h6>
                                        </div>
                                        <div class="col-3 mt-auto mb-auto">
                                            <h6 class="mb-1"  style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.address }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <h6 class="mb-1"  style="font-weight: bold; font-size: 14px; padding: 0px;">{{ org.zipcode }}</h6>
                                        </div>
                                        <div class="col-2 mt-auto mb-auto">
                                            <div id="{{ org.pk }}" onclick="request_service(this)" class="card options mr-auto ml-auto" style="width: 100%; background-color: #4679bd; border-radius: 32px; padding: 0px;">
                                                <h6 class="mb-1" style="text-align: center; padding: 2px; margin: 0px; font-size: 14px; font-weight: bold; color: white;">Request</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <div id="loader">
                        <div class="water"></div>
                        <h6 style="color: #D14200; font-weight: bold; font-size: 14px;padding: 8px; margin:8px; text-align: center;">Uploading record ...</h6>
                    </div>                
                  </div>
                </div>
              </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/call_centre/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
    <script src="{% static 'call_centre/js/call_centre.js' %}"></script>
    <script src="{% static 'call_centre/js/emergency_session.js' %}"></script>
    <script>
        function refresh() {
            // make Ajax call here, inside the callback call:
            $.ajax({
                type: 'POST',
                url: 'check_permission',
                data: {},
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function(data) {
                    if (data.permit == false){
                        alert("Your access has been revoked");
                        location.href="/call_centre/home/Emergency-Session/";
                    }
                }
            });
            setTimeout(refresh, 10000);
            // ...
        }

        // initial call, or just call refresh directly
        setTimeout(refresh, 5000);
    </script> 
</html>