{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-phone-square" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome, {{ user.emergency_call_centre_professional.emergency_cc_name }}</p>
                    <li >
                        <a href="/main/Emergency-Call-Centre-Prof/">Home</a>
                    </li>
                    <li >
                        <a href="Profile">Profile</a>
                    </li>
                    <li >
                        <a href="Profile">Configurations</a>
                    </li>
                    <li >
                        <a onclick="alert('Under Construction')">Recent Activities</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #cdcdcd">
                <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                <span></span>
            </button>


            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6;">
                <i id="home_card" class="fas fa-first-aid" style=" width: 5%; height: 5%; margin-left: 24px; margin-top: 8px;"></i>
                <div class="row" style="margin: 8px;">
                    <div class="col-md-12 card" style="padding: 16px; border-radius: 16px;">
                        <h4 style="text-align: center; margin: 8px;">Ongoing Emergency Sessions</h4>
                        {% if encounters_active|length == 0 %}
                        <h6 style="margin:24px;">You dont have any active emergency session</h6>

                        {% else %}

                        <table id="active_emergency_sessions" class="tab" style="margin: auto; margin-top: 16px;">
                            <tr>
                                <th>Patient Name</th>
                                <th>Start datetime</th>
                                <th>Is active</th>
                                <th>Show Details</th>
                            </tr>
                            {% for item in encounters_active %}
                            <tr>
                                <td> {{ item.encounter_patient.patient_name }}</td>
                                <td> {{ item.encounter_start_datetime }}</td>
                                <td style="color: green;"> {{ item.encounter_is_active }}</td>
                                <td>
                                    <button onclick="location.href='../Emergency-Session/{{ item.pk }}'" class='btn'><i class='fa fa-edit'></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}

                        <h4 style="margin-top: 32px;">Closed Emergency Sessions</h4>
                        {% if encounters_inactive|length == 0 %}

                        <h6 style="margin:24px;">None</h6>

                        {% else %}

                        <table id="active_emergency_sessions" class="tab" style="margin: auto; margin-top: 16px;">
                            <tr>
                                <th>Patient Name</th>
                                <th>Start datetime</th>
                                <th>End datetime</th>
                                <th>Is active</th>
                                <th>Action</th>
                            </tr>
                            {% for item in encounters_inactive %}
                            <tr>
                                <td> {{ item.encounter_patient.patient_name }}</td>
                                <td> {{ item.encounter_start_datetime }}</td>
                                <td> {{ item.encounter_end_datetime }}</td>
                                <td style="color: red;"> {{ item.encounter_is_active }}</td>
                                <td>
                                    x
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                        {% endif %}
                    </div>
                </div>
            </div>

            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/call_centre/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
    <script src="{% static 'main/js/call_centre.js' %}"></script>   
</html>