{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'call_centre/css/call_centre.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-phone-square" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome, {{ request.user.employee.employee_name }} {{ request.user.employee.employee_surname }}</p>
                    <li>
                        <a href="/call_centre/home/">Home</a>
                    </li>
                    <li >
                        <a href="/call_centre/home/Profile/">Profile</a>
                    </li>
                    <li >
                        <a href="">Configurations</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #cdcdcd">
                <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                <span></span>
            </button>


            <!-- Page Content -->
            <div id="content" style="overflow: auto; width: 100%; padding-top: 70px; background-color: #F1F5F6;">
                <div class="" style="margin: 24px;">
                    <p style="text-align: center; margin-top: 32px; font-weight: bold;">
                        <a class="path" href="/call_centre/home/">Home</a> -->
                        <a class="path" href="/call_centre/home/Emergency-Session/">Emergency Session</a> -->
                        <a class="path" href="..">Encounter</a> -->
                        <a class="path_active" href="">Request Service</a>
                    </p>
                    
                    <div class="col-sm-16" style="padding: 32px;">
                        <div class="card" style="padding: 32px; box-shadow: 2px 2px 15px rgba(33,33,33,.2); ">
                            <h4 style="text-align: center; padding: 8px; margin-bottom: 16px; font-size: bold;">Select the service you want to request</h4>
                                <div class="list-group card" style="margin-top: 16px; box-shadow: 2px 2px 15px rgba(33,33,33,.2);">
                                    <a href="" class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center;">
                                            <div class="col-sm-3">
                                                <p style="color: #4679bd; font-weight: bold;">Organization</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p style="color: #4679bd; font-weight: bold;">Alias</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="color: #4679bd; font-weight: bold;">Telecom</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="color: #4679bd; font-weight: bold;">Zipcode</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="color: #4679bd; font-weight: bold;">Service</p>
                                            </div>
                                        </div>
                                    </a>
                                    {% for org in organizations %}
                                    <a onclick="request_service({{encounter.pk}}, {{ org.pk }}, {{encounter.encounter_patient.pk}})" class="list-group-item list-group-item-action flex-column align-items-start options">
                                        <div class="row" style="text-align: center; padding: 8px;">
                                            <div class="col-sm-3">
                                                <h6 class="mb-1">{{ org.organization_name }}</h6>
                                            </div>
                                            <div class="col-sm-3">
                                                <h6 class="mb-1">{{ org.organization_alias }}</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <h6 class="mb-1">{{ org.organization_telecom }}</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <h6 class="mb-1">{{ org.organization_zipcode }}</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <h6 class="mb-1">{{ org.get_organization_type_display }}</h6>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                        </div>
                </div>
            </div>

            </div>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/call_centre/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>   
    <script src="{% static 'call_centre/js/call_centre.js' %}"></script>   
</html>