{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/call_centre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'org/css/org.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-h-square" style="height: 60%; width: 60%; margin-top: 28px;"></i>
                </div>
        
                <ul class="list-unstyled components">
                    <p style="font-family: Arial, Helvetica, sans-serif; color: #D14200; font-size: 16px; font-weight: 400;">Welcome {{ request.user.employee.name }} {{ request.user.employee.surname }}</p>
                    <li>
                        <a href="/hospital/home/">Home</a>
                    </li>
                    <li >
                        <a href="/hospital/home/Profile/">Profile</a>
                    </li>
                    <li>
                        <a href="/hospital/home/Emergency-Session/">Emergency Sessions</a>
                    </li>
                    <li class="active">
                        <a href="/hospital/home/Team/">Teams</a>
                    </li>
                    <li >
                        <a onclick="alert('Under Construction!')">Recent Activities</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-header">
                    <img src="{% static 'main/images/amsterdam_umc.png' %}" style="height: 96px; width: 192px;">
                </div>
        
            </nav>

            <!-- HEADER -->
            {% include 'main/default/header.html' %}    

            <!-- Page Content -->
            <div id="content" style="width :100%; height: 100vh; padding:24px; padding-top: 70px; background-color: #F1F5F6;">
                <nav class="navbar navbar-expand-lg">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #4679bd">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><!-- <i class="fas fa-align-left"></i> -->
                        <span></span>
                    </button>
                </nav>

                <p style="text-align: center; margin-top: 32px; font-weight: bold; font-size: 14px">
                    <a class="path" href="/hospital/home/">Home</a> -->
                    <a class="path_active" href="" >Teams</a>
                </p>

                <div style="height: 100%; width: 100%;">
                        <div class="" style="padding: 8px;">
                            <h6 style="text-align: center; padding: 4px; margin-bottom: 4px; font-weight: bold;">Search team</h6>
                            <form method="GET" action="" id="lookForPatient" style="text-align: center;">
                                {% if filters.identifier != None %}
                                <input class="test" type="text" name="identifier" placeholder="Team ID" value="{{ filters.identifier }}">
                                {% else %}
                                <input class="test" type="text" name="identifier" placeholder="Team ID">
                                {% endif %}

                                <button style="background-color:#D14200; " class="btn btn-primary" type="submit">
                                    <i style="background-color:#D14200;" class="fas fa-search"></i>
                                </button>
                            </form>

                            {% if care_team_response|length != 0 %}
                            <h5 style="text-align: center; padding: 4px; margin-top: 8px; font-weight: bold;">Team ID found</h5>
                                <div class="list-group card" style="box-shadow: 2px 2px 15px rgba(33,33,33,.2); margin-top: 16px;">
                                    <a class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Created Date</h6>
                                            </div>
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">ID</h6>
                                            </div>
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Name</h6>
                                            </div>
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Tag</h6>
                                            </div>
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Status</h6>
                                            </div>
                                            <div class="col-2" style="padding: 0px">
                                                <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Role on Team</h6>
                                            </div>
                                        </div>
                                    </a>
    
                                    {% for care_team in care_team_response %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start options">
                                        <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.identifier }}</h6>
                                            </div>
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.name }}</h6>
                                            </div>
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.tag }}</h6>
                                            </div>
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px; color: {{ care_team.color }}">{{ care_team.status }}</h6>
                                            </div>
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ request.user.employee.role }}</h6>
                                            </div>
                                            <div class="col-2 mt-auto mb-auto" style="padding: 0px">
                                                <div href="{{ care_team.pk }}/" class="card options mr-auto ml-auto" style="width: 112px; background-color: #4679bd; border-radius: 32px; padding: 0px;">
                                                    <h6 class="mb-1" style="text-align: center; font-size: 14px; padding:2px; margin: 0px; font-weight: bold; color: white;">See team</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                        </div>

                        <div class="list-group card" style="margin-top: 8px; box-shadow: 2px 2px 15px rgba(33,33,33,.2); min-width: 800px;">
                            <a class="list-group-item flex-column align-items-start" style="background-color: #CED9E5;">
                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px;">Created Date</h6>
                                    </div>
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">ID</h6>
                                    </div>
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Name</h6>
                                    </div>
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Tag</h6>
                                    </div>
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Role on Team</h6>
                                    </div>
                                    <div class="col-2" style="padding: 0px;">
                                        <h6 style="color: #4679bd; font-weight: bold; font-size: 14px; padding: 0px">Action</h6>
                                    </div>
                                </div>
                            </a>
                            {% for care_team in care_teams %}
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="row" style="text-align: center; padding: 0px; margin: 0px;">
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px;">{{ care_team.identifier.start_datetime|default_if_none:'-'|date:'d/m/Y' }}</h6>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.identifier.identifier }}</h6>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.identifier.name }}</h6>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ care_team.identifier.tag }}</h6>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <h6 class="mb-1" style="font-weight: bold; font-size: 14px; padding: 0px">{{ request.user.employee.role }}</h6>
                                    </div>
                                    <div class="col-2 mt-auto mb-auto" style="padding: 0px;">
                                        <div onclick="location.href='{{care_team.identifier.pk}}/'" class="card options mr-auto ml-auto" style="width: 100%; background-color: #4679bd; border-radius: 32px; padding: 2px;">
                                            <h6 class="mb-1" style="text-align: center; font-size: 14px; padding:2px; margin: 0px; font-weight: bold; color: white;">See team</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                </div>
            </div>
            
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: white;">
                
                    <!-- Modal Header -->
                    <div class="modal-header no-border">
                        <h4 class="modal-title" style="color: black; font-weight: bold; font-size: 16px;">Logout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body no-border" style="font-weight: bold; color: black; font-size: 14px; padding; 0px; margin: 0px;">
                        Do you want to log out?
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer no-border">
                        <div data-dismiss="modal" onclick="location.href = '/hospital/home/logout';" class="options" style="padding: 4px; background-color: #4679bd; border-radius: 16px; width: 96px;">
                            <h6 style="text-align: center; font-size: 12px; font-weight: bold; color: white; margin: 4px; padding: 4px;">Log out</h6>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
            
        </div>
    </body>
    
    <script src="{% static 'main/js/main.js' %}"></script>
</html>