body{background-color: #F1F5F6;
    background-size: cover;
    opacity: 1.0;}
    html,body{
        position: relative;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        display:flex; 
        flex-direction:column; 
    }

.wrapper {
    display: flex;
    align-items: stretch;
}
.no-border{
    border: none;
}

#home_card:hover{  
  color: #D14200;

}

#home{
  font-size: 18px;
  font-weight: 500;
}
#home:hover {
  color: #D14200;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F5F6;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.7em;
    color: black;
    margin: 8px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #131516;
    transition: all 0.3s;
    background-color: white;
}

#sidebar .sidebar-header{
    padding: 4px;
    padding-left: 20px;
    padding-top: 20px
  ;
}

#sidebar ul.components {
    padding: 20px 0;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-size: 16px;
    font-weight: 500;
}
#sidebar ul li a:hover {
    color: #fafafa;
    background: #4679bd;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fafafa;
    background: #D14200;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: lightblue;
}

/*
  ========================================
  Schedule
  ========================================
*/

table {
    border: 2px;
    margin: 8px;
    width: 100%;
}

table:last-child {
    margin-bottom: 0;
}

th {
  width: 15%;
}
td {
  width: 15%;
}

thead {
    line-height: 44px;
}
thead th {
    color: #648880;
    font-size: 24px;
}

tbody th {
    color: #D14200;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    
}

tbody td {
    border-top: 1px solid #dfe2e5;
    padding:6px;
  }
  tbody td:first-of-type {
    padding-right: 2px;
  }
  tbody td:last-of-type {
    padding-left: 2px;
  }
  tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  table a {
    color: #888;
  }
  table h4 {
    margin-bottom: 0;
  }

  .schedule-offset {
    color: #a9b2b9;
  }
  
  
/* +++++++++++++++++++++++++++ */

.tab table, th, td {
    border: 1px solid black;
    border-radius: 8px;
    border-collapse: collapse;
    text-align: center;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
  }
  th, td {
    border-radius: 8px;
    text-align: center;
  }
  table {
    margin: auto;
    width: 90%;
    background-color: white;
  }
  tbody{
    overflow: auto;
  }


/* Header CSS for every page */
.header {
  position: fixed;
  top: 0;
  width:100%;
  text-align:center;
  height: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader {
  height: 82px; 
  width: 240px;
  border-radius: 28px; 
  display:inline-block;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
  background-color: white;
}

.imgheader:hover{
  -webkit-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 15px 16px rgba(0, 0, 0, 0.12);
}

/* New Form CSS for Every Page */

.newItemForm {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  opacity: 1.0;
  margin: 32px auto;
  font-family: Raleway;
  padding: 32px;
  width: 70%;
  min-width: 300px;
  -webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.12);

}

h1 {
  text-align: center;  
}

label {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

input {
  padding: 4px;
  width: 80%;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.newItemFormButtn{
  color: #D14200;
}

#call_centre_remarks {
  padding: 8px;
  width: 100%;
  font-size: 12px;
  border: none;
  border-radius: 0px;
  border: 1px solid black;
}

label {
  font-weight: bold;
}

.blink {
  font-size:30px;
  font-weight:bold;
  animation:blink 3s linear infinite alternate 1.0s;

}

@keyframes blink {
  80% {
    color:black;
  }
  90% {
    color:red;
  }
  100% {
    color:black;
  }
}
