* {
    box-sizing: border-box;
    overflow: auto;

  }
  
  body, html {
    background-image: url("../images/patient_intake_form.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table {
    width: 100%;    
    background-color: #f1f1c1;
  }

  #regForm {
    background-color: lightblue;
    border-radius: 8px;
    opacity: 1.0;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;

  }
  
  h1 {
    text-align: center;  
  }

  
  input {
    padding: 4px;
    width: 80%;
    font-size: 12px;
    font-family: Raleway;
    border: 3px solid lightskyblue;
    border-radius: 8px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  .no-border{
    border:none;
  }
  
  button {
    background-color: goldenrod;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  #prevBtn {
    background-color: goldenrod;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: goldenrod;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }